/* Other site icons */
.sprite {
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-247 {
    width: 112px;
    height: 91px;
    background-position: -20px -20px;
}

.sprite-9000 {
    width: 364px;
    height: 154px;
    background-position: -172px -20px;
}

.sprite-all-agents-star {
    width: 208px;
    height: 111px;
    background-position: -20px -214px;
}

.sprite-arrow-left {
    width: 24px;
    height: 44px;
    background-position: -576px -20px;
}

.sprite-arrow-left-rounded {
    width: 34px;
    height: 47px;
    background-position: -640px -20px;
}

.sprite-arrow-right {
    width: 24px;
    height: 44px;
    background-position: -576px -107px;
}

.sprite-arrow-right-rounded {
    width: 34px;
    height: 47px;
    background-position: -640px -107px;
}

.sprite-as-seen-on-tv {
    width: 50px;
    height: 39px;
    background-position: -576px -194px;
}

.sprite-badge {
    width: 60px;
    height: 88px;
    background-position: -268px -273px;
}

.sprite-badge-first {
    width: 71px;
    height: 108px;
    background-position: -368px -273px;
}

.sprite-best {
    width: 95px;
    height: 124px;
    background-position: -479px -273px;
}

.sprite-calendar {
    width: 49px;
    height: 56px;
    background-position: -666px -194px;
}

.sprite-call {
    width: 32px;
    height: 32px;
    background-position: -614px -290px;
}

.sprite-call-20 {
    width: 20px;
    height: 20px;
    background-position: -686px -290px;
}

.sprite-call-247 {
    width: 32px;
    height: 32px;
    background-position: -686px -350px;
}

.sprite-call-center {
    width: 124px;
    height: 112px;
    background-position: -20px -437px;
}

.sprite-call-large {
    width: 54px;
    height: 70px;
    background-position: -184px -422px;
}

.sprite-call-medium {
    width: 36px;
    height: 47px;
    background-position: -278px -422px;
}

.sprite-computer {
    width: 83px;
    height: 74px;
    background-position: -354px -422px;
}

.sprite-down-16 {
    width: 16px;
    height: 16px;
    background-position: -614px -422px;
}

.sprite-house {
    width: 65px;
    height: 65px;
    background-position: -477px -478px;
}

.sprite-left-arrow-round {
    width: 42px;
    height: 41px;
    background-position: -670px -422px;
}

.sprite-menu {
    width: 30px;
    height: 20px;
    background-position: -582px -503px;
}

.sprite-message-24 {
    width: 24px;
    height: 24px;
    background-position: -652px -503px;
}

.sprite-no-sale {
    width: 110px;
    height: 109px;
    background-position: -184px -567px;
}

.sprite-no-upfront {
    width: 151px;
    height: 152px;
    background-position: -755px -20px;
}

.sprite-no-upfront-small {
    width: 100px;
    height: 101px;
    background-position: -758px -212px;
}

.sprite-note-24 {
    width: 24px;
    height: 24px;
    background-position: -758px -353px;
}

.sprite-people {
    width: 78px;
    height: 38px;
    background-position: -822px -353px;
}

.sprite-people-large {
    width: 103px;
    height: 68px;
    background-position: -752px -431px;
}

.sprite-printer-24 {
    width: 24px;
    height: 24px;
    background-position: -334px -539px;
}

.sprite-reviews {
    width: 115px;
    height: 114px;
    background-position: -716px -539px;
}

.sprite-right-16 {
    width: 16px;
    height: 16px;
    background-position: -398px -539px;
}

.sprite-right-arrow-round {
    width: 42px;
    height: 41px;
    background-position: -20px -693px;
}

.sprite-side-val {
    width: 39px;
    height: 146px;
    background-position: -871px -539px;
}

.sprite-slideshow {
    width: 13px;
    height: 12px;
    background-position: -895px -431px;
}

.sprite-slideshow-small {
    width: 16px;
    height: 16px;
    background-position: -102px -725px;
}

.sprite-sp-logo {
    width: 146px;
    height: 110px;
    background-position: -334px -693px;
}

.sprite-star-24 {
    width: 24px;
    height: 24px;
    background-position: -158px -725px;
}

.sprite-thumb {
    width: 69px;
    height: 66px;
    background-position: -520px -693px;
}

.sprite-tick-dark {
    width: 35px;
    height: 29px;
    background-position: -222px -725px;
}

.sprite-tick-yellow {
    width: 35px;
    height: 29px;
    background-position: -629px -725px;
}
