.typeahead__container ::-webkit-input-placeholder {
  color: #d1d1d1;
  opacity: 1;
}

#home-success-numbers{
  .custom-height-1 {
    height: 174px;
  }
  .custom-height-3 {
    height: 205px;
  }
}

