.home-banner-2 {
  .banner-text-content {
    .banner-h {
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
      margin-top: 30px;
    }
  }
}

.home-voted {
  h5 {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 601px) {
  .home-banner-2 {
    .banner-text-content {
      .banner-h {
        margin: 1.095rem 0 0.876rem 0;
        text-align: left;
      }
    }
  }
  .home-voted {
    margin-top: -105px;
    padding-bottom: 30px;

    .voted-row {
      margin-top: 40px;

      .voted-left {
        margin-top: -45px;
      }
    }
  }
}

@media only screen and (min-width: 993px) {
  .home-banner-2 {
    .banner-text-content {
      .banner-h {
        font-size: 2.2rem;
      }
    }
  }
}

@media only screen and (min-width: 1201px) {
  .home-banner-2 {
    .banner-text-content {
      .banner-h {
        font-size: 2.5rem;
      }
    }
  }
}
