/*
hero form used in every pages
 */
.section-hero-form {
  form {
    border-radius: 15px;
  }

  .form-title {
    padding: 30px 15px 5px 15px;
    border-radius: 15px 15px 0 0;
  }

  .classic-form {
    padding: 20px 10% 35px;
    border-radius: 0 0 15px 15px;

    input {
      margin-bottom: 12px;
    }

    .material-icons {
      font-size: inherit;
      vertical-align: middle;
    }
  }

  .offer-button {
    text-transform: none;
    font-size: 34px;
    background-color: #408080;
    padding: 0 10px;
    height: 70px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.30), 0 15px 20px 0 rgba(0, 0, 0, 0.25);


    &:hover {
      background: #275757;
      box-shadow: 0 16px 22px 0 rgba(0, 0, 0, 0.35), 0 22px 28px 0 rgba(0, 0, 0, 0.30);
      transform: translateY(-2px);
    }
  }
}

@media only screen and (min-width: 601px) {
  .section-hero-form {
    .offer-form {
      .form-title {
        font-size: 22px;
      }
    }
  }
}

@media only screen and (min-width: 993px) {
  .section-hero-form {
    .offer-form {
      .form-title {
        font-size: 30px;
      }
    }
  }
}
