.section-investment-reviews {
  .investment-videos {
    cursor: pointer;
    padding: 0 .75rem;
    position: relative;

    .play-button {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .4);

      &:hover {
        background: rgba(0, 0, 0, .6);

        .youtube-play {
          opacity: 1;
          width: 120px;
        }
      }

      .youtube-play {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: auto;
        transform: translate(-50%, -50%);
        opacity: .9;
        transition: all .2s ease-in;
      }
    }

    .col {
      padding: 1px;
    }

    .card {
      /*cursor: pointer;*/
      margin: 0;

      .card-image {
        position: relative;

      }

      .card-content {
        display: none;
      }

      .play-button {
        background: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all .3s;

        i {
          position: absolute;
          left: 0;
          bottom: 0;
          display: none;
        }
      }

      /*&:hover {
        .play-button {
          background: rgba(0, 0, 0, .25);
        }
      }*/
    }
  }
}
