main{
    padding-bottom: 40px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-bottom: 15px;

    .input-group-addon {
        padding: 0 12px 0 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: #555;
        width: 1%;
        vertical-align: middle;
        display: table-cell;
        white-space: nowrap;
    }
    input {
        position: relative;
        /*z-index: 2;*/
        float: left;
        width: 100%;
        display: table-cell;
        padding: 6px 12px;
        border: 1px solid #ccc;
        margin: 0;
        box-sizing: border-box;
        height: 36px;
        background: color("sp-primary", "lighten-5");
    }
}
@media #{$small-and-down} {
    .input-group{
        display: block;
        .input-group-addon {
            display: block;
            width: auto;
            white-space: normal;
        }
        input {
            display: block;
            margin-bottom: 15px;
            float: none;
        }
    }
}

.signature-container{
    box-shadow: 0 0 18px rgba(0,0,0,.1) inset;
    border: 1px solid #d5d5d5;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;

    input{
        margin: 0;
    }

    /*.signature-canvas-wrapper{
        position: relative;

        .base-line{
            position: absolute;
            bottom: 30px;
            right: 10px;
            left: 10px;
            background: color("sp-secondary", "lighten-5");
            height: 2px;
            z-index: 1;
        }
    }*/

    #signature-canvas{
        border: 1px solid #ccc;
        font-family: 'Gochi Hand', cursive;
        background: #ffffe9;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    /* Modal Content/Box */
    .modal-content {
        background-color: #ededed;
        margin: 2% auto;
        max-width: 600px;
        border: 1px solid #888;
        width: 95%;
        position: relative;
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        width: 32px;
        line-height: 42px;
        display: inline-block;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

// tabs
.tab-container{
    .tabs {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;

        .tab-link {
            background: none;
            color: #222;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;

            &.current{
                background: #fff;
                color: #222;
            }
        }

    }

    .tab-content{
        display: none;
        background: #fff;
        padding: 15px;

        &.current{
            display: inherit;
        }
    }
}