.adv-logo {
    background-image: url(../images/adv-logo.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.adv-logo-m1 {
    width: 78px;
    height: 63px;
    background-position: -20px -20px;
}

.adv-logo-m10 {
    width: 112px;
    height: 37px;
    background-position: -138px -20px;
}

.adv-logo-m11 {
    width: 143px;
    height: 36px;
    background-position: -290px -20px;
}

.adv-logo-m12 {
    width: 101px;
    height: 51px;
    background-position: -473px -20px;
}

.adv-logo-m2 {
    width: 66px;
    height: 55px;
    background-position: -614px -20px;
}

.adv-logo-m3 {
    width: 91px;
    height: 56px;
    background-position: -138px -111px;
}

.adv-logo-m4 {
    width: 104px;
    height: 58px;
    background-position: -269px -115px;
}

.adv-logo-m5 {
    width: 99px;
    height: 50px;
    background-position: -413px -111px;
}

.adv-logo-m6 {
    width: 140px;
    height: 28px;
    background-position: -552px -115px;
}

.adv-logo-m7 {
    width: 107px;
    height: 52px;
    background-position: -552px -183px;
}

.adv-logo-m8 {
    width: 85px;
    height: 61px;
    background-position: -20px -275px;
}

.adv-logo-m9 {
    width: 110px;
    height: 47px;
    background-position: -145px -275px;
}

.adv-logo-p1 {
    width: 146px;
    height: 54px;
    background-position: -295px -275px;
}

.adv-logo-p10 {
    width: 151px;
    height: 57px;
    background-position: -481px -275px;
}

.adv-logo-p11 {
    width: 170px;
    height: 29px;
    background-position: -145px -372px;
}

.adv-logo-p12 {
    width: 131px;
    height: 36px;
    background-position: -355px -372px;
}

.adv-logo-p13 {
    width: 159px;
    height: 48px;
    background-position: -526px -372px;
}

.adv-logo-p14 {
    width: 162px;
    height: 38px;
    background-position: -20px -460px;
}

.adv-logo-p15 {
    width: 176px;
    height: 54px;
    background-position: -222px -448px;
}

.adv-logo-p16 {
    width: 80px;
    height: 53px;
    background-position: -438px -460px;
}

.adv-logo-p17 {
    width: 165px;
    height: 28px;
    background-position: -20px -553px;
}

.adv-logo-p18 {
    width: 162px;
    height: 38px;
    background-position: -225px -553px;
}

.adv-logo-p19 {
    width: 173px;
    height: 41px;
    background-position: -427px -553px;
}

.adv-logo-p2 {
    width: 127px;
    height: 41px;
    background-position: -558px -460px;
}

.adv-logo-p20 {
    width: 159px;
    height: 50px;
    background-position: -20px -634px;
}

.adv-logo-p21 {
    width: 167px;
    height: 38px;
    background-position: -219px -634px;
}

.adv-logo-p22 {
    width: 156px;
    height: 39px;
    background-position: -426px -634px;
}

.adv-logo-p3 {
    width: 175px;
    height: 40px;
    background-position: -720px -20px;
}

.adv-logo-p4 {
    width: 149px;
    height: 41px;
    background-position: -732px -100px;
}

.adv-logo-p5 {
    width: 144px;
    height: 55px;
    background-position: -732px -181px;
}

.adv-logo-p6 {
    width: 171px;
    height: 53px;
    background-position: -672px -276px;
}

.adv-logo-p7 {
    width: 156px;
    height: 31px;
    background-position: -725px -369px;
}

.adv-logo-p8 {
    width: 168px;
    height: 52px;
    background-position: -725px -440px;
}

.adv-logo-p9 {
    width: 150px;
    height: 55px;
    background-position: -725px -532px;
}
