
main > section{
    padding: 40px 0;
}
h1, h2{
    text-transform: uppercase;
}
.no-padding{
    padding: 0!important;
}
.margin-top-0{
    margin-top: 0!important;
}
.margin-bottom-0{
    margin-bottom: 0!important;
}
.margin-top-15{
    margin-top: 15px!important;
}
.margin-bottom-15{
    margin-bottom: 15px!important;
}
.padding-bottom-5{
    padding-bottom: 5px;
}
.padding-top-5{
    padding-top: 5px;
}
.footer-links {
    background: url("../images/footer-bg.png") center bottom repeat-x transparent;
    padding-bottom: 135px;
}
.sell-fast{
    background: url("../images/fast-sold.png") no-repeat left bottom transparent;
    padding-bottom: 120px;
    background-size: cover;
}

.home-banner{
    background: url("../images/banner-bg.jpg") no-repeat center transparent;
    background-size: cover;
    overflow: hidden;

    .banner-text{
        /*background: rgba(107,103,112,.6);*/
        position: relative;
        border-top: 1px solid transparent;

        &:before{
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: -2000px;
            right: -1.5rem;
            background: rgba(107,103,112,.6);
        }
        .banner-text-content{
            position: relative;
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 20px;

            li{
                margin-bottom: 10px;
            }

            i{
                vertical-align: top;
            }
            .text-ticks{
                padding-right: 160px;
                position: relative;
                > i{
                    position: absolute;
                    right: 0;
                    top: 30px;
                }
            }
        }
    }
}

.home-fast{
    .card-panel{
        .variation{
            font-size: 18px;
            font-weight: 500;

            strong{
                font-size: 24px;
                font-weight: 700;
            }

            small{
                font-size: 12px;
            }
        }
    }
    .row{
        margin-bottom: 0;
    }
}
.home-how-it-works{
    > div{
        padding-bottom: 5px;
        padding-top: 5px;
    }
}

.home-why{
    .point{
        position: relative;
        min-height: 124px;
        padding-left: 160px;

        .point-icon{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 150px;
            text-align: center;
        }
        p{

        }
    }
}
.home-estimator{
    form{
        position: relative;

        i{
            position: absolute;
            bottom: 50px;
            left: 92%;
        }
    }
}
@media only screen and (max-width: 1260px) {
    .home-estimator{
        form{
            i{
                display: none;
            }
        }
    }
}

.home-success{

    .card{
        margin: 5px;
    }
}

.home-customer-service{
    background: url("../images/service-bg.png") no-repeat center transparent;
    background-size: cover;

    .review-slider li{
        padding: 5px;
    }
    .unslider-arrow i {
        top: 30%;
    }
}

.home-recent-sale{
    background: url("../images/pattern.png") no-repeat center transparent;
    background-size: cover;

    .row{
        margin: 0;
    }
    img{
        vertical-align: top;
    }
}
@media only screen and (min-width: 601px) {
    .home-recent-sale{
        padding-top: 0;
        padding-bottom: 0;
    }
}

.home-call-center{
    background: url("../images/call-center-bg.png") no-repeat center transparent;
    background-size: cover;
}

.home-chat{
    .container{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media only screen and (min-width: 601px) {
    .home-chat{
        .container{
            background: url("../images/chat-person.png") no-repeat bottom right transparent;
            padding-top: 40px;
            padding-bottom: 40px;
            min-height: 320px;
        }
    }
}

.form-title{
    padding: 30px 15px;
    font-size: 30px;
    font-weight: bold;
}
.classic-form{
    padding: 40px 10%;
    input{
        background: #fff;
        margin-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 601px) {
    .card-horizontal{
        display: flex;
        align-items: center;

        .card-image{
            float: left;
            width: 40%;
        }
        .card-content{
            float:left;
            width:60%;
            display: block;
        }
    }
}
/*
@media only screen and (min-width: 993px) {
    .card-horizontal{

        .card-image{
            width: 30%;
        }
        .card-content{
            width:70%
        }
    }
}*/
