
main > section {
    padding: 40px 0;
}

h1, h2 {
    text-transform: uppercase;
}

.no-padding {
    padding: 0 !important;
}

$measurements: 0, 5, 10, 15, 20, 25, 30, 40, 50, 80, 100;
@each $m in $measurements {
    .margin-top-#{$m} { margin-top: $m + px!important }
    .margin-right-#{$m} { margin-right: $m + px!important }
    .margin-bottom-#{$m} { margin-bottom: $m + px!important }
    .margin-left-#{$m} { margin-left: $m + px!important }

    .padding-top-#{$m} { padding-top: $m + px!important }
    .padding-right-#{$m} { padding-right: $m + px!important }
    .padding-bottom-#{$m} { padding-bottom: $m + px!important }
    .padding-left-#{$m} { padding-left: $m + px!important }

    .margin-#{$m} { margin: $m + px!important }
    .padding-#{$m} { padding: $m + px!important }
}

.strong {
    font-weight: 500 !important;
}
.click-to-call{
    white-space: nowrap;

    a{
        color: inherit;
        text-decoration: none;
    }
}
a[href^=tel]{
    text-decoration: none;
}

.text-ticks{
    li {
        margin-bottom: 10px;
    }

    i {
        vertical-align: top;
    }
}

/* nav section */
.sub-nav {
    height: 48px;
    padding: 6px 0;
    background: #f6f6f6;
    overflow: hidden;

    .btn {
        vertical-align: top;
        font-size: 11px;
        padding-left: 15px;
        padding-right: 15px;

        i {
            vertical-align: middle;
        }
    }
    .call-button {
        font-size: 14px;
        font-weight: 500;
        text-transform: none;
        vertical-align: top;
        cursor: default;

        i{
            vertical-align: middle;
        }
    }
}

@media #{$medium-and-up} {
    nav {
        height: 112px;
        .nav-wrapper {
            height: 64px;
        }
    }
}
@media #{$small-and-down} {
    .navbar-fixed.lp3  {
        height: 64px;
    }
}

.menu-button {
    font-size: 18px;
    font-weight: 700;
}

.call-button {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    b {
        vertical-align: middle;
    }
}
.helpline-label{
    line-height: 40px;
    padding-top: 24px;
}

.footer-links {
    /*background: url("../images/footer-bg.png") center bottom repeat-x transparent;*/
    padding-bottom: 40px;
}

@media #{$small-and-down} {
    .page-footer{
        text-align: center;
    }
}

.sell-fast {
    background: url("../images/fast-sold.png") no-repeat left bottom #f9f9f9;
    padding-bottom: 120px;
    background-size: 475px auto;
}

.home-banner {
    background: url("../images/banner-bg.jpg") no-repeat center transparent;
    background-size: cover;
    overflow: hidden;

    .banner-text {
        /*background: rgba(107,103,112,.6);*/
        position: relative;
        border-top: 1px solid transparent;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: -2000px;
            right: -1.5rem;
            background: rgba(107, 103, 112, .6);
        }
        .banner-text-content {
            position: relative;
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 20px;

            li {
                margin-bottom: 10px;
            }

            i {
                vertical-align: top;
            }
            .no-upfront {
                float: right;
                margin-top: 5%;
                box-shadow: 0 0 49px rgba(100,100,100,.3);
                border-radius: 50%;
            }

            /*.text-ticks{
                padding-right: 160px;
                position: relative;
                > i{
                    position: absolute;
                    right: 0;
                    top: 30px;
                }
            }*/
        }
    }
}

.home-fast {
    .card-panel {
        .variation {
            font-size: 18px;
            font-weight: 500;

            strong {
                font-size: 24px;
                font-weight: 700;
            }

            small {
                font-size: 12px;
            }
        }
    }
    .row {
        margin-bottom: 0;
    }
}

.home-how-it-works {
    > div {
        padding-bottom: 8px;
        padding-top: 8px;
    }
}

.home-why {
    .point {
        position: relative;
        min-height: 124px;
        padding-left: 160px;

        .point-icon {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 150px;
            text-align: center;
        }
        p {

        }
    }
}

@media only screen and (max-width: 600px) {
    .home-why {
        .point {
            min-height: 0;
            padding-left: 0;

            .point-icon {
                display: none;
            }
        }
        .row {
            margin-bottom: 0;
        }
    }
}

.home-estimator {
    form {
        position: relative;

        i {
            position: absolute;
            bottom: 50px;
            left: 92%;
        }
    }
}

@media only screen and (max-width: 1260px) {
    .home-estimator {
        form {
            i {
                display: none;
            }
        }
    }
}

.home-video, .reviews-video {
    .card {
        cursor: pointer;

        .card-image {
            position: relative;

        }
        .card-content {
            min-height: 84px;
            font-weight: 500;
        }
        .play-button {
            background: rgba(0, 0, 0, 0);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: all .3s;
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &:hover {
            .play-button {
                background: rgba(0, 0, 0, .25);
            }
        }
    }
    .small-videos {
        text-align: center;
        height: 135px;
        overflow: hidden;
        margin-bottom: 20px;

        .card {
            display: inline-block;
            margin: 0 5px 25px;
            width: 100px;
            vertical-align: top;

            .card-content {
                padding: 4px;
                font-size: 12px;
                line-height: 15px;
                min-height: 38px;
                font-weight: 500;
            }
            .play-button {
                i {
                    transform: none;
                    top: auto;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }
}

.home-success {

    .card {
        margin: 5px;
    }
}

@media only screen and (max-width: 460px) {
    .home-success {

        .success-slider {
            margin-right: 0;
            margin-left: 0;
        }
        .unslider-arrow i {
            top: 54%;
            top: 73vw;
            left: 10px;
        }
        .unslider-arrow.next i {
            left: auto;
            right: 10px;
        }
        .card-content {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

.home-customer-service {
    background: url("../images/service-bg.png") no-repeat center transparent;
    background-size: cover;

    .review-slider li {
        padding: 5px;
    }
    .unslider-arrow i {
        top: 30%;
    }
}

.home-recent-sale {
    background: url("../images/pattern.png") no-repeat center transparent;
    background-size: cover;

    .row {
        margin: 0;
    }
    img {
        vertical-align: top;
    }
}

@media only screen and (min-width: 601px) {
    .home-recent-sale {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.home-success-numbers {

}

@media only screen and (min-width: 993px) {
    .home-success-numbers {
        .masonry {
            > div {
                float: left;
                margin: 0.5%;
            }
            .card-panel {
                min-width: 200px;
            }
            .w-small {
                width: 24%;
                min-width: 200px;
            }
            .h-small {
                height: 200px;
            }
            .w-large {
                width: 49%;
                min-width: 400px;
            }
            .h-large {
                height: 350px;
            }
            .margin-top-10 {
                margin-top: 4% !important;
            }
            .big {
                font-size: 76px;
                font-weight: 700;
            }
            .medium {
                font-size: 60px;
                font-weight: 700;
            }
            .valign {
                width: 100%;
            }
            span, i {
                vertical-align: middle;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .home-success-numbers {
        .masonry {
            > div {
                float: left;
                margin: 0.5%;
            }
            .card-panel {
                min-width: 150px;
            }
            .w-small {
                width: 49%;
                min-width: 150px;
            }
            .h-small {
                height: 200px;
            }
            .w-large {
                width: 99%;
                min-width: 300px;
            }
            .h-large {
                height: 350px;
            }
            .margin-top-10 {
                margin-top: 10px !important;
            }
            .big {
                font-size: 64px;
                font-weight: 700;
            }
            .medium {
                font-size: 54px;
                font-weight: 700;
            }
            .valign {
                width: 100%;
            }
            span, i {
                vertical-align: middle;
            }
        }
    }
}

@media only screen and (max-width: 460px) {
    .home-success-numbers {
        .masonry {
            .card-panel {
                padding: 10px 5px;
            }
            .big {
                font-size: 40px;
            }
            .medium {
                font-size: 36px;
            }
            .w-small {
                min-width: 140px;
            }
            .w-large {
                min-width: 280px;
            }
        }
    }
}

.home-call-center {
    background: url("../images/call-center-bg.jpg") no-repeat center transparent;
    background-size: cover;
}

.home-chat {
    .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 601px) {
    .home-chat {
        .container {
            background: url("../images/chat-person.png") no-repeat bottom right transparent;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}

.form-title {
    padding: 30px 15px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;

    &.medium{
        padding: 30px 15px;
        font-size: 24px;
    }
    &.small{
        padding: 20px 15px;
        font-size: 18px;
    }
    &.responsive{
        font-size: 1.5vw;
        padding: 1.5vw 1vw;
    }
    small{
        display: block;
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
}

.classic-form {
    padding: 40px 10%;
    input {
        background: #fff;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        height: 3.5rem;
        font-size: 1.25rem;
        border: 1px solid #ccc
    }

    &.medium {
        padding: 20px 30px;
        input {
            height: 3rem;
            margin-bottom: 8px;
        }
    }
    &.small {
        padding: 15px 20px;
        input {
            height: 2.5rem;
            font-size: 1rem;
            margin-bottom: 6px;
        }
    }
    &.responsive {
        padding: 2vw 2vw;
        input {
            font-size: 2.5vh;
            height: 6vh;
            margin-bottom: .7vh;
            min-height: 25px;
        }
    }
}

.fixed-free-val {
    transform: rotate(90deg);
    position: fixed;
    bottom: 20%;
    right: 0;
    transform-origin: top right;
}

@media only screen and (min-width: 601px) {
    .card-horizontal {
        display: flex;
        align-items: center;

        .card-image {
            float: left;
            width: 40%;
        }
        .card-content {
            float: left;
            width: 60%;
            display: block;
        }
    }
}

/*
@media only screen and (min-width: 993px) {
    .card-horizontal{

        .card-image{
            width: 30%;
        }
        .card-content{
            width:70%
        }
    }
}*/
#modal-video {
    background-color: #000;
    .modal-content {
        padding: 0;
    }
}

main{
    a {
        color: #6b6770;
        text-decoration: underline;
        font-weight: 500;
    }

    a:active,
    a:hover {
        color: #7a7680;
    }
}

/* property-details.php */

.property-details{
    .property-head{
        padding: 20px;
    }
    .property-head-right {
        float: right;
        text-align: right;
    }

    .property-head-offer {
        font-size: 12px;
        font-weight: bold;
    }

    .property-head-price {
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
    }

    .property-header {
        font-size: 22px;
        line-height: 22px;
        margin: 0;
    }

    .property-location {
        font-size: 16px;
        line-height: 22px;
    }
    #property-carousel{
        background: #ddd;
        margin: 0;
        ul{

        }
        li{
            overflow: hidden;
            position: relative;

            img{
                width: 100%;
                height: auto;
                vertical-align: top;
            }
            .carousel-caption{
                position: absolute;
                bottom: 0;
                left:0;
                right: 0;
                background: rgba(0,0,0,.7);
                text-align: center;
                color: #fff;
                padding: 2px;
            }
        }
    }
    .unslider-arrow{
        width: 40px;
    }
    .slideshow-control{
        position: absolute;
        bottom: 2px;
        left: 10px;
        cursor: pointer;
        color: #fff;
    }
    .unslider-nav{
        height: auto;
        background: #ddd;
        margin-top: 2px;
        ol{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            li{
                flex-grow: 1;
                flex-shrink: 1;
                height: auto;
                line-height: 1;
                max-height: 64px;
                overflow: hidden;
                cursor: pointer;
                max-width: 100px;

                &+li{
                    margin-left: 1px;
                }

                &.unslider-active{
                    border-radius: 6px;
                }

                img{
                    width: 100%;
                    height: auto;
                    vertical-align: top;

                }

            }
        }
    }


    .property-interest {
        background: none repeat scroll 0 0 #ececec;
        padding: 10px;
        color: #333;
    }

    .property-interest h3 {
        font-size: 28px;
        line-height: 36px;
        margin: 0 0 15px;
        text-align: center;
    }

    .property-interest-details {
        text-align: center;
        vertical-align: top;
    }

    .property-interest-details > * {
        vertical-align: top;
    }

    .property-interest-details .sprite {
        margin-top: 10px;
    }

    .property-call {
        text-align: left;
        margin: 0 10px 0 10px;
        display: inline-block;
    }

    .property-call a {
        color: #333;
        font-weight: bold;
    }

    .property-call-help-text {
        font-size: 11px;
        line-height: 14px;
    }

    .property-details {
        margin-top: 15px;
    }
    #mapid{
        display: block;
    }

    .property-contact-methods {
        .item {
            line-height: 24px;

            & + .item {
                border-top: 1px solid #fff;
                box-shadow: 0 -1px 0 0 #ccc;
                margin-top: 10px;
                padding-top: 10px;
            }
        }
    }

    .property-investment-detail {
        .item {
            line-height: 18px;

            & + .item {
                border-top: 1px solid #fff;
                box-shadow: 0 -1px 0 0 #ccc;
                margin-top: 10px;
                padding-top: 10px;
            }

            .question{
                font-size: 18px;
                font-weight: 900;
            }
        }
    }

    .property-back-too-list{
        a{
            display: block;
            text-decoration: none;
        }
    }
    .property-sidebar-action{
        a{
            display: block;
            text-decoration: none;
            line-height: 24px;
            vertical-align: middle;

            .sprite{
                vertical-align: middle;
                margin-top: -4px;
                margin-right: 8px;
            }
        }
    }

    .tabs{
        overflow: visible;
        .tab{
            a{
                background: #eee;
                border-bottom: 2px solid #ccc;
                border-right: 1px solid #ccc;
                &.active{
                    background: #fff;
                }
            }
        }
        .indicator{
            bottom: -3px;
            background: #fff;
        }
    }

    .list-style-square, .list-style-square li {
        padding-left: 2rem;
        position: relative;
        line-height: inherit;
    }

    .list-style-square {
        padding-bottom: 16px;
    }

    .list-style-square li {
        padding: 8px 8px 8px 24px;
        list-style-type: none;
    }

    ul.list-style-square {
        padding-left: 0;
    }

    .list-style-square:before, .list-style-square li:before {
        border-top: 8px solid $primary-color;
        border-top-width: .8rem;
        content: "";
        position: absolute;
        left: 0;
        width: 11px;
    }

    .list-style-square li:before {
        top: 13px;
        left: 4px;
    }

    .list-style-square:before {
        display: none;
    }

    .list-two-col li {
        float: left;
        width: 50%;
        border-bottom: 1px solid #ececec;
    }
    h3{
        font-size: 1.5rem;
    }
}
