/* how-much-is-my-house-worth.php */
.house-worth-banner {
    background: url("../images/house-worth-bg.jpg") no-repeat center transparent;
    background-size: cover;

    form {
        border: 5px solid $primary-color;

        input {
            border: 3px solid #e4e4e4;
        }
    }
}

.house-worth-estimate {
    padding-bottom: 100px;
    .col {
        /*padding-left: 30px;
        padding-right: 30px;*/
    }
}

@media #{$small-and-down} {
    .house-worth-estimate {
        .col {
            text-align: center;
        }
    }
}

/* success-stories.php */
@media #{$medium-and-up} {
    .success-stories {
        .card-panel {
            background: url("../images/chat-person.png") no-repeat bottom right transparent;

        }
    }
}

/* free-valuation.php */
.free-valuation-banner {
    background: url("../images/free-valuation-banner-bg.png") repeat-x left bottom transparent;
}

/* mission-vision.php */
.mission-yellow {
    padding: 15px 0;
    .row{
        margin-bottom: 0;
    }
    @media #{$medium-and-up} {
        .border-right {
            border-right: 1px solid $secondary-color;
        }
    }
}

/* mortgage.php */
.mortgage-banner {
    background: url("../images/mortgage-bg.jpg") no-repeat center transparent;
    background-size: auto 100%;

    .container{
        overflow: hidden;
    }
    .row{
        margin-bottom: 0;
    }
    .shaded-form{
        box-shadow: -50px 0 125px 87px #fff;
    }
    .classic-form{
        padding: 0 0 20px 0;
    }
}
