/* header */
header {
    padding: 10px 0;
}

.header-item {
    vertical-align: middle;
    line-height: 97px;
}

.header-item img {
    vertical-align: middle;
    max-width: 100%;
}
.call-banner {
    background: none repeat scroll 0 0 #ddd;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-top: 7px;
    padding: 5px;
    text-align: center;
}
@media (max-width: 479px) {
    /*.other-logo{
        text-align: right;
    }*/
    .header-item{
        max-width: 40%;
        float: left;
        line-height: normal;
    }
    .other-logo{
        max-width: 50%;
        float: right;
    }
    .other-logo img{
        height: auto;
        max-width: 100%;
        margin-top: 10%;

    }
}
@media (max-width: 767px) {
    .other-logo{
        text-align: right;
    }
    .yoshkidiv{
        display: none!important;
    }
    .badgenopopup{
        display: none;
    }
}


/* footer */
.footer {
    padding: 40px 0 10px 0;
    color: #d8d8d8;
}

.footer-contact {
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
    padding: 15px 0;
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
}

.footer-card {
    text-align: center;
    color: #d8d8d8;
}

.footer-card-sep {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 50%;
    width: 1px;
    border-left: 1px solid #666;
}

.footer-card .card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}

.footer-card .card-connect {
    text-align: center;
    margin-bottom: 5px;
}

.footer-card .card-connect a, .footer-card .card-connect a:visited, .footer-card .card-connect a:hover {
    color: #d8d8d8;
    font-weight: 700;
    width: 210px;
    display: inline-block;
    text-align: left;
}

.footer-card .lp3-sprite-tw_icon, .footer-card .lp3-sprite-fb_icon {
    margin-right: 15px;
}

.footer-card p {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.footer-card .card-phone {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

.footer-registration {
    color: #b2b2b2;
    font-size: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.footer-notes {
    font-size: 11px;
    text-align: justify;
    font-weight: 300;
}

.footer-copyright {
    margin-top: 30px;
    font-size: 10px;
    text-align: justify;
}

.footer-form {
    background: #252525;
    border: 2px solid #595959;
    padding: 5px 20px 30px;
}

.footer-form h3 {
    color: #bfbfbf;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    margin-top: 5px;
}

.footer-form .footer-input {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    color: #333;
    font-weight: 700;
    margin: 0 0 10px 0;
    outline: 0 none;
    padding: 6px 13px;
    width: 100%;
    display: block;
}

.footer-nav {
    color: #000;
    font-size: 11px;
    margin-top: 20px;
    text-align: center;
}

.footer-nav a, .footer-nav a:hover, .footer-nav a:visited {
    color: #FFF;

}

.lp3-sprite-floating_PPC, .floating-call{
    position: fixed;
    bottom: 10%;
    left: 0;
    display: none;
}
.floating-call{
    background-color: transparent;
}
@media (min-width: 1540px) {
    .lp3-sprite-floating_PPC, .floating-call{
        display: block;
    }
}
/* END footer */