/* Social icons */
.social {
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.social-fb-32 {
    width: 32px;
    height: 32px;
    background-position: -20px -20px;
}

.social-instagram-32 {
    width: 32px;
    height: 32px;
    background-position: -92px -20px;
}

.social-pinterest-32 {
    width: 32px;
    height: 32px;
    background-position: -20px -92px;
}

.social-twitter-32 {
    width: 32px;
    height: 32px;
    background-position: -92px -92px;
}

.social-youtube-32 {
    width: 32px;
    height: 32px;
    background-position: -164px -20px;
}

.social-youtube-play-large {
    width: 64px;
    height: 64px;
    background-position: -164px -92px;
}

.social-youtube-play-small {
    width: 32px;
    height: 32px;
    background-position: -20px -196px;
}
