/* Social icons */
.social {
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.social-fb-32 {
    width: 32px;
    height: 32px;
    background-position: -20px -20px;
}

.social-instagram-32 {
    width: 32px;
    height: 32px;
    background-position: -92px -20px;
}

.social-pinterest-32 {
    width: 32px;
    height: 32px;
    background-position: -20px -92px;
}

.social-twitter-32 {
    width: 32px;
    height: 32px;
    background-position: -92px -92px;
}

.social-youtube-32 {
    width: 32px;
    height: 32px;
    background-position: -164px -20px;
}

.social-youtube-play-large {
    width: 64px;
    height: 64px;
    background-position: -164px -92px;
}

.social-youtube-play-small {
    width: 32px;
    height: 32px;
    background-position: -20px -196px;
}





/* Other site icons */
.sprite {
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-247 {
    width: 112px;
    height: 91px;
    background-position: -20px -20px;
}

.sprite-9000 {
    width: 364px;
    height: 154px;
    background-position: -172px -20px;
}

.sprite-all-agents-star {
    width: 208px;
    height: 111px;
    background-position: -20px -214px;
}

.sprite-arrow-left {
    width: 24px;
    height: 44px;
    background-position: -576px -20px;
}

.sprite-arrow-right {
    width: 24px;
    height: 44px;
    background-position: -640px -20px;
}

.sprite-as-seen-on-tv {
    width: 50px;
    height: 39px;
    background-position: -576px -104px;
}

.sprite-badge {
    width: 60px;
    height: 88px;
    background-position: -576px -183px;
}

.sprite-badge-first {
    width: 71px;
    height: 108px;
    background-position: -268px -311px;
}

.sprite-best {
    width: 95px;
    height: 124px;
    background-position: -379px -311px;
}

.sprite-calendar {
    width: 49px;
    height: 56px;
    background-position: -514px -311px;
}

.sprite-call {
    width: 32px;
    height: 32px;
    background-position: -603px -311px;
}

.sprite-call-20 {
    width: 20px;
    height: 20px;
    background-position: -20px -383px;
}

.sprite-call-center {
    width: 124px;
    height: 112px;
    background-position: -80px -383px;
}

.sprite-computer {
    width: 83px;
    height: 74px;
    background-position: -514px -407px;
}

.sprite-house {
    width: 65px;
    height: 65px;
    background-position: -244px -521px;
}

.sprite-left-arrow-round {
    width: 42px;
    height: 41px;
    background-position: -349px -521px;
}

.sprite-menu {
    width: 30px;
    height: 20px;
    background-position: -637px -383px;
}

.sprite-no-sale {
    width: 110px;
    height: 109px;
    background-position: -431px -521px;
}

.sprite-no-upfront {
    width: 151px;
    height: 152px;
    background-position: -704px -20px;
}

.sprite-no-upfront-small {
    width: 100px;
    height: 101px;
    background-position: -676px -212px;
}

.sprite-people {
    width: 78px;
    height: 38px;
    background-position: -707px -353px;
}

.sprite-people-large {
    width: 103px;
    height: 68px;
    background-position: -707px -431px;
}

.sprite-reviews {
    width: 115px;
    height: 114px;
    background-position: -20px -539px;
}

.sprite-right-arrow-round {
    width: 42px;
    height: 41px;
    background-position: -816px -212px;
}

.sprite-side-val {
    width: 39px;
    height: 146px;
    background-position: -581px -539px;
}

.sprite-sp-logo {
    width: 146px;
    height: 110px;
    background-position: -660px -539px;
}

.sprite-thumb {
    width: 69px;
    height: 66px;
    background-position: -175px -689px;
}

.sprite-tick-yellow {
    width: 35px;
    height: 29px;
    background-position: -825px -293px;
}
