/* Social icons */
.social {
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.social-fb-32 {
    width: 32px;
    height: 32px;
    background-position: -20px -20px;
}

.social-instagram-32 {
    width: 32px;
    height: 32px;
    background-position: -92px -20px;
}

.social-pinterest-32 {
    width: 32px;
    height: 32px;
    background-position: -20px -92px;
}

.social-twitter-32 {
    width: 32px;
    height: 32px;
    background-position: -92px -92px;
}

/* Other site icons */
.sprite {
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.social-247 {
    width: 112px;
    height: 91px;
    background-position: -20px -20px;
}

.sprite-247 {
    width: 112px;
    height: 91px;
    background-position: -20px -20px;
}

.sprite-9000 {
    width: 364px;
    height: 154px;
    background-position: -172px -20px;
}

.sprite-all-agents-star {
    width: 208px;
    height: 111px;
    background-position: -20px -214px;
}

.sprite-arrow-left {
    width: 24px;
    height: 44px;
    background-position: -576px -20px;
}

.sprite-arrow-right {
    width: 24px;
    height: 44px;
    background-position: -576px -104px;
}

.sprite-badge {
    width: 60px;
    height: 88px;
    background-position: -268px -214px;
}

.sprite-badge-first {
    width: 71px;
    height: 108px;
    background-position: -368px -214px;
}

.sprite-best {
    width: 95px;
    height: 124px;
    background-position: -479px -214px;
}

.sprite-calendar {
    width: 49px;
    height: 56px;
    background-position: -20px -378px;
}

.sprite-call-center {
    width: 124px;
    height: 112px;
    background-position: -109px -378px;
}

.sprite-computer {
    width: 83px;
    height: 74px;
    background-position: -273px -378px;
}

.sprite-house {
    width: 65px;
    height: 65px;
    background-position: -396px -378px;
}

.sprite-left-arrow-round {
    width: 42px;
    height: 41px;
    background-position: -501px -378px;
}

.sprite-menu {
    width: 30px;
    height: 20px;
    background-position: -583px -378px;
}

.sprite-no-sale {
    width: 110px;
    height: 109px;
    background-position: -501px -459px;
}

.sprite-no-upfront {
    width: 151px;
    height: 152px;
    background-position: -640px -20px;
}

.sprite-people {
    width: 78px;
    height: 38px;
    background-position: -614px -212px;
}

.sprite-people-large {
    width: 103px;
    height: 68px;
    background-position: -653px -290px;
}

.sprite-reviews {
    width: 115px;
    height: 114px;
    background-position: -653px -398px;
}

.sprite-right-arrow-round {
    width: 42px;
    height: 41px;
    background-position: -20px -552px;
}

.sprite-sp-logo {
    width: 146px;
    height: 110px;
    background-position: -102px -552px;
}

.sprite-thumb {
    width: 69px;
    height: 66px;
    background-position: -288px -552px;
}

.sprite-tick-yellow {
    width: 35px;
    height: 29px;
    background-position: -732px -212px;
}

