.profile-card{
  .profile-pic{
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: color("sp-secondary", "base");
    background: color("sp-secondary", "lighten-4");
    border-radius: 50%;
    margin-right: 15px;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;

  }
}
.section-book-valuation{

  /*.calendar-table{
    overflow: auto;
    table{
      border: 1px solid #fff;
      border-collapse: collapse;
    }
    td, th{
      border-radius: 0;
      border: 1px solid #fff;
      padding: 10px 5px;
      text-align: center;
      font-size: 0.9em;
    }
    th{
      background: color("sp-secondary", "base");
      color: color("sp-secondary", "lighten-5");

    }
    td{
      cursor: pointer;
      background: color("sp-secondary", "lighten-5");

      &:hover{
        background: color("sp-primary", "base");
      }

      &.disabled{
        cursor: default;
        background: color("sp-secondary", "lighten-3");
        color: color("sp-secondary", "lighten-4");

        &:hover{
          background: color("sp-secondary", "lighten-3");
        }
      }
      &.selected{
        background: color("sp-primary", "base");
      }
    }
  }*/

  .viewNext span, .viewPrev span{
    line-height: 24px;
    vertical-align: top;
  }

  .card-date{
    text-align: center;
    border: 1px solid color('grey', 'lighten-2');
    padding: 20px 2px;
    cursor: pointer;
    margin-bottom: 10px;

    &:hover{
      border: 1px solid color('sp-primary', 'base');
    }

    &.selected{
      border: 1px solid color('sp-primary', 'base');
      background-color: color('sp-primary', 'base');
    }
    .week-day{
      text-transform: uppercase;
      font-weight: 300;
      font-size: 13px;
    }
    .day{
      font-size: 32px;
      font-weight: 700;
    }
    .slot{

    }
  }
  @media #{$medium-and-up} {
    .card-date{
      float: left;
      margin: 0.5%;
      width: 19%;
    }
  }

  .time-slots{
    /*border: 1px solid color('grey', 'lighten-2');
    padding: 10px;*/
    text-align: center;
    margin-bottom: 30px;

    .time-slot{
      border: 1px solid color('grey', 'lighten-2');
      padding: 7px 2px;
      text-align: center;
      background: #ddd;
      color: color('sp-secondary', 'lighten-3');
      cursor: not-allowed;
      margin-bottom: 10px;
      font-weight: 500;

      &.free{
        background: #fff;
        cursor: pointer;
        color: color('sp-secondary', 'base');

        &:hover{
          border: 1px solid color('sp-primary', 'base');
        }
      }
      &.selected{
        border: 1px solid color('sp-primary', 'base');
        background-color: color('sp-primary', 'base');
      }
    }
    @media #{$medium-and-up} {
      .time-slot{
        float: left;
        margin: 0.5%;
        width: 19%;
      }
    }
  }
}