.section-book-viewing{

  .viewNext span, .viewPrev span{
    line-height: 24px;
    vertical-align: top;
  }

  .card-date{
    text-align: center;
    border: 1px solid color('grey', 'lighten-2');
    padding: 20px 2px;
    cursor: pointer;
    margin-bottom: 10px;

    &:hover{
      border: 1px solid color('sp-primary', 'base');
    }

    &.selected{
      border: 1px solid color('sp-primary', 'base');
      background-color: color('sp-primary', 'base');
    }
    .week-day{
      text-transform: uppercase;
      font-weight: 300;
      font-size: 13px;
    }
    .day{
      font-size: 32px;
      font-weight: 700;
    }
    .slot{

    }
  }
  @media #{$medium-and-up} {
    .card-date{
      float: left;
      margin: 0.5%;
      width: 19%;
    }
  }
}