.section-diary{
  .card{
    .card-content{

    }

    .card-action{
      padding: 10px 20px;

      .btn{
        height: 32px;
        line-height: 32px;
        font-size: 0.9em;
        font-weight: 500;
        padding: 0 1rem;
      }
    }
  }
}