.section-message{
  .chat-items{
    min-height: 100px;
    max-height: 400px;
    overflow: auto;
    background: color("grey", "lighten-5");

    .chat-item{
      padding: 10px;
      border-radius: 3px;
      background: #fff;
      margin: 20px;

      .name{
        font-weight: 600;
        color: color("sp-secondary", "darken-2");
      }

      &.me{
        background: color("shades", "white");
        margin-left: 20%;
        border-radius: 30px 3px 3px 30px;
        padding-left: 20px;
      }
      &.you{
        background: color("grey", "lighten-3");
        margin-right: 20%;
        border-radius: 3px 30px 30px 3px;
        padding-right: 20px;
      }
    }
  }
  .chat-write{
    border-top: 1px solid #ddd;

    position: relative;

    .textarea-container{
      margin-right: 61px;

      textarea{
        border: 0;
        vertical-align: top;
        height: auto;
        padding: 7px 10px;
        resize: none;

        &:focus{
          border: 0;
          outline: none;
        }
      }
    }
    .btn{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 60px;
      height: auto;
      border-radius: 0;
      padding: 0;
    }
    @media #{$medium-and-up} {
      .textarea-container{
        margin-right: 101px;
      }
      .btn{
        width: 100px;
      }
    }

  }
}

