$measurements: 0, 5, 10, 15, 20, 25, 30, 40, 50, 80, 100;
@each $m in $measurements {
  .margin-top-#{$m} {
    margin-top: $m + px !important
  }
  .margin-right-#{$m} {
    margin-right: $m + px !important
  }
  .margin-bottom-#{$m} {
    margin-bottom: $m + px !important
  }
  .margin-left-#{$m} {
    margin-left: $m + px !important
  }

  .padding-top-#{$m} {
    padding-top: $m + px !important
  }
  .padding-right-#{$m} {
    padding-right: $m + px !important
  }
  .padding-bottom-#{$m} {
    padding-bottom: $m + px !important
  }
  .padding-left-#{$m} {
    padding-left: $m + px !important
  }

  .margin-#{$m} {
    margin: $m + px !important
  }
  .padding-#{$m} {
    padding: $m + px !important
  }
}

// size
.smaller {
  font-size: 0.8rem;
  font-weight: 400;
}

// colors
.white {
  background-color: #FFFFFF !important;
}
.white-text {
  color: #FFFFFF !important;
}
.green{
  background-color: #4CAF50 !important;
}
.green-text {
  color: #4CAF50 !important;
}
.red {
  background-color: #F44336 !important;
}
.red-text {
  color: #F44336 !important;
}

// media
img.responsive-img, video.responsive-video {
  max-width: 100%;
  height: auto;
}
