section.ratings {
  .logo span {
    display: block;
  }

  .logo img {
    max-width: 85px;
    height: auto;
  }

  .logo i {
    color: #82d400;
    font-size: 12px;
  }

  .logo .right {
    padding-left: 10px;
  }

  .logo .right span {
    font-size: 21px;
    color: #000;
    font-weight: 600;
    line-height: 1.7rem;
  }

  .logo .right strong {
    color: #000;
  }

  .logo {
    max-width: 300px;
    display: inline-flex;
    padding-left: 90px;
    align-items: center;
  }

}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  section.ratings .logo {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 600px) {
  section.ratings .logo {
    max-width: 260px;
    display: inline-flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 7px 0;
  }
}
