@import "global";
@import "unslider";
@import "progress";
@import "exit-popup";
@import "free-offer-popup";
@import "free-guide";
/*
@import "regulated";
@import "banner-features";
@import "ratings";
*/
@import "hero-steps";


.modal-backdrop.show {
  opacity: .8;
}

.sp-secondary.lighten-5 {
  background-color: #f0eff1 !important;
}
.sp-secondary {
  /*background-color: #494949 !important;*/
  background-color: #54595f !important;
}

// font-awesome
.fa-check:before {
  content: "\f00c";
}
.fa-lock:before {
  content: "\f023";
}
.fa-remove:before, .fa-close:before, .fa-times:before {
  content: "\f00d";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
/*
.fa-star:before {
  content: "\f005";
}
.fa-star-half-alt:before {
  content: "\f5c0";
}
*/
.fa-circle:before {
  content: "\f111";
}
.fa-dot-circle:before {
  content: "\f192";
}
