#main-nav > li {
  transition: none; }
  #main-nav > li:hover > a {
    background: #408080;
    color: #fff; }
#main-nav .dropdown-content {
  background: #408080;
  min-width: 200px;
  border-radius: 0 0 8px 8px; }
  #main-nav .dropdown-content li {
    transition: none;
    position: relative; }
  #main-nav .dropdown-content a {
    color: #fff;
    padding: 10px 30px;
    transition: none; }
    #main-nav .dropdown-content a:before {
      content: "";
      position: absolute;
      left: 16px;
      top: 16px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent #fff; }
    #main-nav .dropdown-content a:hover {
      background: #fff;
      color: #408080; }
      #main-nav .dropdown-content a:hover:before {
        border-color: transparent transparent transparent #408080; }

.side-nav.right-aligned {
  background: #408080 !important; }
  .side-nav.right-aligned li {
    color: #fff; }
    .side-nav.right-aligned li a {
      color: #fff; }
    .side-nav.right-aligned li .collapsible ul {
      background: #4a9494; }
    .side-nav.right-aligned li .collapsible-header {
      position: relative; }
      .side-nav.right-aligned li .collapsible-header:before {
        content: "";
        position: absolute;
        left: 14px;
        top: 50%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-color: transparent transparent transparent #fff;
        transform: translateY(-50%); }

.navbar-fixed {
  height: auto !important; }

.navbar-fixed nav {
  height: auto !important; }

main {
  padding-top: 126px; }

@media only screen and (max-width: 888px) {
  main {
    padding-top: 162px; } }
@media only screen and (max-width: 600px) {
  main {
    padding-top: 169px; } }
.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
  padding: 10px 5px 10px 40px;
  line-height: 20px;
  height: auto; }

/* sectioned nav */
.sectioned-nav {
  width: 600px;
  padding: 20px 10px; }
  .sectioned-nav .sectioned-nav-block + .sectioned-nav-block {
    margin-top: 30px; }
  .sectioned-nav .sectioned-nav-header {
    color: #ffef00;
    text-decoration: underline; }
  .sectioned-nav .sectioned-nav-list li {
    float: none;
    min-height: 30px !important; }
    .sectioned-nav .sectioned-nav-list li:hover {
      background: transparent !important; }
  .sectioned-nav .sectioned-nav-list a {
    text-transform: uppercase;
    font-size: .8rem;
    padding: 5px 30px !important; }
    .sectioned-nav .sectioned-nav-list a:before {
      top: 11px !important; }
    .sectioned-nav .sectioned-nav-list a:hover {
      background: transparent !important;
      color: #fff !important;
      text-decoration: underline; }
      .sectioned-nav .sectioned-nav-list a:hover:before {
        border-color: transparent transparent transparent #fff !important; }

.sectioned-nav-block-mobile {
  background: #4a9494 !important; }
  .sectioned-nav-block-mobile .sectioned-nav-header {
    color: #ffef00;
    text-decoration: underline;
    margin: 0;
    padding: 15px 0 10px 20px;
    background: rgba(255, 239, 0, 0.1); }
  .sectioned-nav-block-mobile .sectioned-nav-block + .sectioned-nav-block {
    margin-top: 15px; }

.typeahead__container ::-webkit-input-placeholder {
  color: #d1d1d1;
  opacity: 1; }

#home-success-numbers .custom-height-1 {
  height: 174px; }
#home-success-numbers .custom-height-3 {
  height: 205px; }

/* Property list
 */
.properties-list .search-criteria {
  margin: 0;
  padding: 0; }

.properties-list .search-criteria + p {
  height: auto;
  min-height: auto; }

.property-card b, .property-card strong {
  font-weight: 500 !important; }

/* Optimization fixes */
section.call_section {
  background-image: url(../images/yellow_section.jpg); }
  section.call_section:after {
    display: none; }

section.publications {
  background-image: url(../images/plublication_bg.jpg); }

/* tabs */
.tabs.old .indicator {
  display: none; }

.tabs.old .tab a.active {
  border-bottom: 3px solid #fff; }

@media only screen and (max-width: 600px) {
  ul.tabs {
    display: flex; }

  .tabs .tab {
    width: auto;
    display: block;
    float: left;
    height: 48px;
    min-width: 40px; }

  .tabs .tab a {
    line-height: 48px;
    text-align: center;
    width: auto;
    min-width: auto;
    padding: 0 5px; }

  .tabs .tab a.active {
    text-align: center; } }
/* MANISH CSS*/
h1.part-exchange-text {
  color: black !important; }

h2.part-exchange-text {
  color: black !important; }

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem; }
  .progress .progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #53d75e;
    transition: width .6s ease; }
  .progress .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/*
hero form used in every pages
 */
.section-hero-form form {
  border-radius: 15px; }
.section-hero-form .form-title {
  padding: 30px 15px 5px 15px;
  border-radius: 15px 15px 0 0; }
.section-hero-form .classic-form {
  padding: 20px 10% 35px;
  border-radius: 0 0 15px 15px; }
  .section-hero-form .classic-form input {
    margin-bottom: 12px; }
  .section-hero-form .classic-form .material-icons {
    font-size: inherit;
    vertical-align: middle; }
.section-hero-form .offer-button {
  text-transform: none;
  font-size: 34px;
  background-color: #408080;
  padding: 0 10px;
  height: 70px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.3), 0 15px 20px 0 rgba(0, 0, 0, 0.25); }
  .section-hero-form .offer-button:hover {
    background: #275757;
    box-shadow: 0 16px 22px 0 rgba(0, 0, 0, 0.35), 0 22px 28px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); }

@media only screen and (min-width: 601px) {
  .section-hero-form .offer-form .form-title {
    font-size: 22px; } }
@media only screen and (min-width: 993px) {
  .section-hero-form .offer-form .form-title {
    font-size: 30px; } }
#hero-banner-1 {
  background: #726f2e !important; }

.home-banner-1 {
  position: relative;
  overflow: hidden; }
  .home-banner-1 .banner-h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 0; }
  .home-banner-1 .sub-h1 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem; }
  .home-banner-1 .hero-1-bg {
    width: auto;
    height: auto;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    max-height: none; }
  .home-banner-1 .modal-like {
    padding: 30px 0;
    max-width: 98%;
    margin: 0 auto;
    background: #fff;
    width: 680px;
    position: relative; }
    .home-banner-1 .modal-like .title {
      border-radius: 5px;
      padding: 0;
      font-size: 24px;
      text-align: left; }
    .home-banner-1 .modal-like .classic-form {
      padding: 0;
      margin: 0 auto;
      border: 0; }
      .home-banner-1 .modal-like .classic-form li {
        padding-left: 1.5%;
        padding-right: 1.5%; }
    .home-banner-1 .modal-like .hero-slider {
      margin-top: 20px;
      min-height: 260px; }
    .home-banner-1 .modal-like .hero-bottom {
      padding-left: 7.5%;
      padding-right: 7.5%; }
    .home-banner-1 .modal-like .hero-slider-prev {
      display: none; }
      .home-banner-1 .modal-like .hero-slider-prev .prev {
        text-decoration: none; }
        .home-banner-1 .modal-like .hero-slider-prev .prev .material-icons {
          vertical-align: top;
          margin-top: -1px; }
    .home-banner-1 .modal-like .offer-button {
      font-size: 52px;
      height: 100px;
      text-transform: none;
      background: #408080;
      line-height: 1.2;
      padding: 0 4vw;
      border-radius: 10px;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.4), 0 17px 50px 0 rgba(0, 0, 0, 0.34); }
      .home-banner-1 .modal-like .offer-button:hover {
        background: #275757;
        box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.45), 0 25px 55px 0 rgba(0, 0, 0, 0.38);
        transform: translateY(-2px); }
      .home-banner-1 .modal-like .offer-button .offer-button-sub {
        display: block;
        color: #ffef00;
        font-size: 14px; }
      .home-banner-1 .modal-like .offer-button .first-step {
        display: block; }
      .home-banner-1 .modal-like .offer-button .other-steps {
        display: none; }
    .home-banner-1 .modal-like .unslider > div {
      margin-left: 0;
      margin-right: 0; }
  .home-banner-1 .hero-progress {
    display: none;
    padding-left: 7.5%;
    padding-right: 7.5%; }
  .home-banner-1 .month-range {
    width: 88%;
    margin: 90px auto 90px; }
    .home-banner-1 .month-range .noUi-target {
      height: 11px;
      background: #c9eded;
      border-radius: 4px;
      border: 0; }
    .home-banner-1 .month-range .noUi-connect {
      background: #408080; }
    .home-banner-1 .month-range .noUi-handle {
      width: 34px;
      height: 34px;
      right: -17px;
      top: -12px;
      border-radius: 50%;
      border: 0;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      transition: all 0.3s linear; }
      .home-banner-1 .month-range .noUi-handle:hover {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7); }
      .home-banner-1 .month-range .noUi-handle:focus {
        outline: none; }
      .home-banner-1 .month-range .noUi-handle:before, .home-banner-1 .month-range .noUi-handle:after {
        display: none; }
      .home-banner-1 .month-range .noUi-handle .noUi-touch-area {
        border: 5px solid #FFF;
        border-radius: 50%;
        background: #313131; }
    .home-banner-1 .month-range .noUi-marker {
      /* display: none; */
      height: 10px;
      top: 2px;
      background: #408080; }
    .home-banner-1 .month-range .noUi-marker-sub {
      height: 5px;
      top: 2px;
      background: #408080; }
    .home-banner-1 .month-range .noUi-value-sub {
      display: none; }
    .home-banner-1 .month-range .noUi-value {
      top: 5px;
      font-size: .8rem; }
    .home-banner-1 .month-range .noUi-tooltip {
      background: #313131;
      color: #fff;
      border-radius: 8px;
      border: none;
      padding: 5px 12px;
      bottom: 150%; }
      .home-banner-1 .month-range .noUi-tooltip:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(49, 49, 49, 0);
        border-top-color: #313131;
        border-width: 10px;
        margin-left: -10px;
        transform: translateY(-1px); }
  .home-banner-1 .custom-radio {
    display: block;
    border: 1px solid #ccc;
    background: #f5f5f5;
    position: relative;
    overflow: hidden;
    padding: 7px 10px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 10px;
    cursor: pointer; }
    .home-banner-1 .custom-radio .material-icons.radio {
      vertical-align: top;
      margin-top: 4px;
      font-size: 28px;
      color: #ccc; }
    .home-banner-1 .custom-radio .material-icons.radio-checked {
      vertical-align: top;
      margin-top: 4px;
      font-size: 28px;
      color: #00903d;
      display: none; }
    .home-banner-1 .custom-radio .material-icons.done {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      font-size: 28px;
      font-weight: bold;
      display: none; }
    .home-banner-1 .custom-radio.checked {
      border: 1px solid #00903d;
      background: #f3fff8; }
      .home-banner-1 .custom-radio.checked .material-icons.done {
        color: #00903d;
        display: inline-block; }
      .home-banner-1 .custom-radio.checked .material-icons.radio {
        display: none; }
      .home-banner-1 .custom-radio.checked .material-icons.radio-checked {
        display: inline-block; }

@media only screen and (max-width: 600px) {
  .home-banner-1 .modal-like .offer-button {
    font-size: 32px;
    height: 80px; }
    .home-banner-1 .modal-like .offer-button .offer-button-sub {
      font-size: 12px; }
  .home-banner-1 .modal-like .hero-slider {
    margin-top: 10px; } }
@media only screen and (min-width: 601px) {
  .home-banner-1 .banner-h1 {
    font-size: 1.8rem; }
  .home-banner-1 .sub-h1 {
    font-size: 1.5rem; }
  .home-banner-1 .month-range .noUi-value {
    top: 20px;
    font-size: 1.1rem;
    transform: translate(-50%, 0); } }
@media only screen and (min-width: 993px) {
  .home-banner-1 .banner-h1 {
    font-size: 2.1rem; }
  .home-banner-1 .sub-h1 {
    font-size: 1.5rem; } }
@media only screen and (min-width: 1201px) {
  .home-banner-1 .banner-h1 {
    font-size: 2.3rem; }
  .home-banner-1 .sub-h1 {
    font-size: 1.5rem; } }
/*
home-banner-features
 */
.home-banner-features .features {
  max-width: 900px;
  margin: 0 auto; }
  .home-banner-features .features img {
    max-height: 124px;
    width: auto; }

@media only screen and (min-width: 601px) {
  .home-banner-features .features p {
    max-width: 180px;
    margin: 0 auto; }
  .home-banner-features .features .value-box {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; } }
.help-text {
  display: none; }

.input-error h5 {
  color: red; }
.input-error input {
  border-color: red !important; }
.input-error .help-text {
  display: block;
  color: red; }

.home-banner-2 .banner-text-content .banner-h {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-top: 30px; }

.home-voted h5 {
  font-size: 1.4rem; }

@media only screen and (min-width: 601px) {
  .home-banner-2 .banner-text-content .banner-h {
    margin: 1.095rem 0 0.876rem 0;
    text-align: left; }

  .home-voted {
    margin-top: -105px;
    padding-bottom: 30px; }
    .home-voted .voted-row {
      margin-top: 40px; }
      .home-voted .voted-row .voted-left {
        margin-top: -45px; } }
@media only screen and (min-width: 993px) {
  .home-banner-2 .banner-text-content .banner-h {
    font-size: 2.2rem; } }
@media only screen and (min-width: 1201px) {
  .home-banner-2 .banner-text-content .banner-h {
    font-size: 2.5rem; } }
/* services-container */
.services-container {
  max-width: 960px; }
  .services-container .big {
    padding: 0; }
  .services-container h4 {
    font-weight: bold; }
  .services-container .heading-points {
    max-width: 600px;
    margin: 0 auto; }

@media only screen and (min-width: 601px) {
  .services-container .col {
    padding: 0 25px; }
  .services-container h4 {
    font-size: 1.5rem; } }
/*
  section-services-steps
*/
.section-services-steps .buy-steps {
  position: relative; }
  .section-services-steps .buy-steps .buy-step .line {
    display: none; }
  .section-services-steps .buy-steps .step-number {
    font-size: 120px;
    font-weight: bold;
    line-height: 120px; }
  .section-services-steps .buy-steps .line {
    width: 1px;
    height: 1px;
    background-color: #909090;
    position: absolute;
    display: none; }

@media only screen and (max-width: 600px) {
  .section-services-steps .buy-steps .buy-step {
    padding: 10px 20px;
    margin: 0 0 5px;
    border-left: 8px solid #494949;
    background-color: #f0eff1;
    text-align: left;
    position: relative;
    min-height: 120px; }
    .section-services-steps .buy-steps .buy-step .step-number {
      position: absolute;
      top: 50%;
      left: 0;
      width: 90px;
      text-align: center;
      transform: translateY(-50%); }
    .section-services-steps .buy-steps .buy-step .step-title, .section-services-steps .buy-steps .buy-step .step-details {
      margin-left: 80px; } }
@media only screen and (min-width: 601px) {
  .section-services-steps .buy-steps .buy-step {
    max-width: 175px;
    margin: 0 auto; }
    .section-services-steps .buy-steps .buy-step .step-title {
      display: inline-block; }
  .section-services-steps .buy-steps .line {
    display: block; }
  .section-services-steps .buy-steps .buy-step-1 {
    padding-top: 120px; }
  .section-services-steps .buy-steps .buy-step-2 {
    padding-top: 60px; } }
/*
  section-services-steps-auction
*/
.section-services-steps-auction .buy-steps {
  position: relative; }
  .section-services-steps-auction .buy-steps .buy-step .line {
    display: none; }
  .section-services-steps-auction .buy-steps .step-number {
    position: relative; }
    .section-services-steps-auction .buy-steps .step-number img {
      vertical-align: top;
      max-width: 100%;
      height: auto; }
  .section-services-steps-auction .buy-steps .step-details {
    font-size: 1.2rem; }
  .section-services-steps-auction .buy-steps .line {
    width: 10px;
    height: 1px;
    background-color: #2b2b2b;
    position: absolute;
    display: none; }

@media only screen and (max-width: 600px) {
  .section-services-steps-auction .buy-steps .buy-step {
    padding: 10px 20px;
    margin: 0 0 5px;
    border-left: 8px solid #494949;
    background-color: #f0eff1;
    text-align: left;
    position: relative;
    min-height: 110px; }
    .section-services-steps-auction .buy-steps .buy-step .step-number {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 90px;
      text-align: center; }
    .section-services-steps-auction .buy-steps .buy-step .step-title, .section-services-steps-auction .buy-steps .buy-step .step-details {
      margin-left: 100px; } }
@media only screen and (min-width: 601px) {
  .section-services-steps-auction .buy-steps .buy-step {
    max-width: 175px;
    margin: 0 auto; }
    .section-services-steps-auction .buy-steps .buy-step .step-title {
      display: inline-block; }
  .section-services-steps-auction .buy-steps .line {
    display: block; }
  .section-services-steps-auction .buy-steps .buy-step-1 {
    padding-top: 120px; }
  .section-services-steps-auction .buy-steps .buy-step-2 {
    padding-top: 0; }
  .section-services-steps-auction .buy-steps .buy-step-3 {
    padding-top: 120px; } }
/*
  section-services-offer
 */
.section-services-offer .form-title {
  padding: 25px 15px;
  line-height: 1.2;
  font-size: 26px; }
.section-services-offer .classic-form {
  padding: 20px 10% 35px; }
  .section-services-offer .classic-form input {
    margin-bottom: 12px; }
  .section-services-offer .classic-form .material-icons {
    font-size: inherit;
    vertical-align: middle; }
.section-services-offer .offer-button {
  background: #3d8081;
  font-size: 34px;
  text-transform: none;
  padding: 0 10px;
  height: 70px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.3), 0 15px 20px 0 rgba(0, 0, 0, 0.25); }
  .section-services-offer .offer-button:hover {
    background: #275757;
    box-shadow: 0 16px 22px 0 rgba(0, 0, 0, 0.35), 0 22px 28px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); }
.section-services-offer .smallest {
  margin-left: -20px;
  margin-right: -20px; }

@media only screen and (min-width: 601px) {
  .section-services-offer .shape-message {
    margin-top: 200px; }
  .section-services-offer .shape-message-investment {
    margin-top: 70px; }
  .section-services-offer .form-title {
    font-size: 22px; } }
@media only screen and (min-width: 993px) {
  .section-services-offer .form-title {
    font-size: 30px; } }
/*
section-services-key-benefits
 */
@media only screen and (max-width: 600px) {
  .section-services-key-benefits .key-benefits {
    margin-top: 20px; }
    .section-services-key-benefits .key-benefits .key-benefit {
      padding: 10px 20px;
      margin: 0 0 5px;
      border-left: 8px solid #494949;
      background-color: rgba(255, 255, 255, 0.8);
      font-size: 1.2rem;
      font-weight: bold; }
      .section-services-key-benefits .key-benefits .key-benefit br {
        display: none; } }
@media only screen and (min-width: 601px) {
  .section-services-key-benefits .key-benefits {
    margin-top: 30px;
    position: relative;
    height: 400px;
    text-align: center; }
    .section-services-key-benefits .key-benefits .key-benefit {
      position: absolute;
      border-radius: 50%;
      font-weight: bold;
      line-height: 1.1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .section-services-key-benefits .key-benefits .key-benefit.key-benefit-1 {
        width: 180px;
        height: 180px;
        background: rgba(0, 0, 0, 0.1);
        top: 0;
        left: 50%;
        font-size: 38px;
        transform: translate(-138%, 0); }
      .section-services-key-benefits .key-benefits .key-benefit.key-benefit-2 {
        width: 150px;
        height: 150px;
        background: #fff;
        top: 40px;
        left: 50%;
        font-size: 34px;
        transform: translate(-50%, 0); }
      .section-services-key-benefits .key-benefits .key-benefit.key-benefit-3 {
        width: 210px;
        height: 210px;
        background: rgba(255, 255, 255, 0.7);
        top: 0;
        left: 50%;
        font-size: 30px;
        transform: translate(30%, 0); }
      .section-services-key-benefits .key-benefits .key-benefit.key-benefit-4 {
        width: 250px;
        height: 250px;
        background: rgba(255, 255, 255, 0.4);
        top: 0;
        left: 50%;
        font-size: 28px;
        transform: translate(-90%, 56%); }
      .section-services-key-benefits .key-benefits .key-benefit.key-benefit-5 {
        width: 200px;
        height: 200px;
        background: rgba(0, 0, 0, 0.15);
        top: 0;
        left: 50%;
        font-size: 42px;
        transform: translate(11%, 83%);
        color: #222; } }
/*
section-services-key-benefits-auction
 */
@media only screen and (min-width: 601px) {
  .section-services-key-benefits-auction .key-benefits {
    margin-top: 30px;
    position: relative;
    height: 400px;
    text-align: center; }
    .section-services-key-benefits-auction .key-benefits .key-benefit {
      position: absolute;
      border-radius: 50%;
      font-weight: bold;
      line-height: 1.1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .section-services-key-benefits-auction .key-benefits .key-benefit.key-benefit-1 {
        width: 180px;
        height: 180px;
        background: rgba(0, 0, 0, 0.1);
        top: 0;
        left: 50%;
        font-size: 30px;
        transform: translate(-138%, 0); }
      .section-services-key-benefits-auction .key-benefits .key-benefit.key-benefit-2 {
        width: 150px;
        height: 150px;
        background: #fff;
        top: 40px;
        left: 50%;
        font-size: 36px;
        transform: translate(-50%, 0); }
      .section-services-key-benefits-auction .key-benefits .key-benefit.key-benefit-3 {
        width: 210px;
        height: 210px;
        background: rgba(255, 255, 255, 0.7);
        top: 0;
        left: 50%;
        font-size: 30px;
        transform: translate(30%, 0); }
      .section-services-key-benefits-auction .key-benefits .key-benefit.key-benefit-4 {
        width: 250px;
        height: 250px;
        background: rgba(255, 255, 255, 0.4);
        top: 0;
        left: 50%;
        font-size: 30px;
        transform: translate(-90%, 68%);
        padding: 30px; }
      .section-services-key-benefits-auction .key-benefits .key-benefit.key-benefit-5 {
        width: 180px;
        height: 180px;
        background: rgba(0, 0, 0, 0.15);
        top: 0;
        left: 50%;
        font-size: 24px;
        transform: translate(-4%, 85%);
        color: #222;
        padding: 10px;
        z-index: 1; }
      .section-services-key-benefits-auction .key-benefits .key-benefit.key-benefit-6 {
        width: 200px;
        height: 200px;
        background: #fff;
        top: 0;
        left: 50%;
        font-size: 24px;
        transform: translate(70%, 104%);
        color: #222;
        padding: 10px; } }
.services-regulator {
  padding: 30px 0; }
  .services-regulator .regulated-label {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px; }
  .services-regulator .logos {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center; }
    .services-regulator .logos img {
      width: 16%;
      padding: 0 2%; }
    .services-regulator .logos .logo-1 {
      width: 25%; }
    .services-regulator .logos .logo-2 {
      width: 23%; }
    .services-regulator .logos .logo-3 {
      width: 20%; }
    .services-regulator .logos .logo-4 {
      width: 18%; }
    .services-regulator .logos .logo-5 {
      width: 14%; }

@media only screen and (min-width: 601px) {
  .services-regulator .logos img {
    padding: 0 3%; } }
@media only screen and (min-width: 993px) {
  .services-regulator .regulated-label {
    text-align: left;
    margin-bottom: 0; }
  .services-regulator .logos img {
    padding: 0 4%; } }
.services-rating .logo.first {
  padding-left: 0; }

.services-jumbo .main-speech-bg {
  width: 100vw;
  height: 0;
  position: absolute;
  left: -100vw; }
.services-jumbo .main-speech {
  position: relative;
  padding: 40px 0;
  margin-bottom: 30px; }
  .services-jumbo .main-speech .bullet-point {
    margin-bottom: 5px; }
.services-jumbo .page-title {
  font-size: 32px; }
.services-jumbo .page-sub-title {
  font-size: 32px;
  font-weight: bold; }
.services-jumbo form {
  position: relative; }

@media only screen and (max-width: 600px) {
  .services-jumbo .main-speech .bullet-point {
    margin-bottom: 10px; }
  .services-jumbo .main-speech .bullet, .services-jumbo .main-speech .sep {
    display: none; }
  .services-jumbo .main-speech .explanation {
    display: block; } }
@media only screen and (min-width: 601px) {
  .services-jumbo .breadcrumb-custom {
    margin-top: 40px; }
  .services-jumbo .page-title {
    font-size: 42px; } }
@media only screen and (min-width: 993px) {
  .services-jumbo .page-title {
    font-size: 52px; } }
.section-media-coverage .card {
  height: 68px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  box-shadow: none;
  padding: 10px 20px;
  margin: 7px 0; }
  .section-media-coverage .card img {
    max-width: 100%;
    max-height: 100%;
    height: auto; }

.section-media-coverage-news {
  padding-top: 0; }
  .section-media-coverage-news .news-card {
    position: relative;
    height: 218px;
    overflow: hidden;
    color: #fff;
    padding: 30px 30px 0 30px;
    margin-bottom: 25px; }
    .section-media-coverage-news .news-card:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.75);
      z-index: 1; }
    .section-media-coverage-news .news-card img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: auto; }
    .section-media-coverage-news .news-card h5, .section-media-coverage-news .news-card p {
      position: relative;
      z-index: 2; }
    .section-media-coverage-news .news-card h5 {
      font-size: 20px;
      margin-bottom: 30px; }
    .section-media-coverage-news .news-card p {
      font-size: 16px;
      line-height: 24px; }

@media only screen and (max-width: 600px) {
  .section-media-coverage-news .news-card {
    height: auto;
    padding: 15px 20px 5px 20px;
    margin-bottom: 15px; }
    .section-media-coverage-news .news-card h5 {
      margin-bottom: 15px; } }
/*
media-pagination
 */
.media-pagination .pagination li {
  display: inline-block;
  font-size: 20px;
  padding: 0;
  line-height: 40px;
  border-radius: 0;
  text-align: center;
  background: transparent; }
  .media-pagination .pagination li a {
    display: block;
    padding: 0;
    background: #e7e7e7;
    color: #8b8b8b;
    font-weight: normal;
    width: 40px;
    text-align: center; }
  .media-pagination .pagination li.active a {
    background: #8b8b8b;
    color: #fff; }

.section-commercial-offer h3 {
  font-size: 42px; }
.section-commercial-offer img {
  height: 200px;
  width: auto;
  max-height: 100%;
  max-width: 100%; }
.section-commercial-offer p br {
  display: none; }

@media only screen and (max-width: 600px) {
  .section-commercial-offer h3 {
    font-size: 28px; }
  .section-commercial-offer .icons-wrap .col {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px; }
  .section-commercial-offer .icons-wrap .icon-container {
    height: 100px;
    width: 100px;
    flex: 0 0 100px;
    justify-content: center; }
  .section-commercial-offer .icons-wrap p {
    margin: 0;
    text-align: left;
    padding-left: 20px; }
    .section-commercial-offer .icons-wrap p br {
      display: block; } }
.section-team {
  position: relative;
  padding: 0; }
  .section-team .team-photo {
    width: 100%;
    height: auto;
    vertical-align: top; }
  .section-team .team-label {
    background: #fff;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px; }
    .section-team .team-label .greeting {
      font-weight: bolder;
      font-size: 2.5vw;
      line-height: 1.1; }
    .section-team .team-label .greeting-extend {
      font-size: 2.4vw;
      line-height: 1.1; }

@media only screen and (max-width: 600px) {
  .section-team .team-label {
    position: static;
    display: block; }
    .section-team .team-label .greeting {
      font-size: 20px; }
    .section-team .team-label .greeting-extend {
      font-size: 18px; } }
.commercial-media-coverage .card {
  height: 68px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  box-shadow: none;
  padding: 10px 20px;
  margin: 7px 0; }
  .commercial-media-coverage .card img {
    max-width: 100%;
    max-height: 100%;
    height: auto; }

.offer-button-in-content {
  min-width: 370px;
  font-size: 20px; }

.section-investment-reviews .investment-videos {
  cursor: pointer;
  padding: 0 .75rem;
  position: relative; }
  .section-investment-reviews .investment-videos .play-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); }
    .section-investment-reviews .investment-videos .play-button:hover {
      background: rgba(0, 0, 0, 0.6); }
      .section-investment-reviews .investment-videos .play-button:hover .youtube-play {
        opacity: 1;
        width: 120px; }
    .section-investment-reviews .investment-videos .play-button .youtube-play {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      height: auto;
      transform: translate(-50%, -50%);
      opacity: .9;
      transition: all .2s ease-in; }
  .section-investment-reviews .investment-videos .col {
    padding: 1px; }
  .section-investment-reviews .investment-videos .card {
    /*cursor: pointer;*/
    margin: 0;
    /*&:hover {
      .play-button {
        background: rgba(0, 0, 0, .25);
      }
    }*/ }
    .section-investment-reviews .investment-videos .card .card-image {
      position: relative; }
    .section-investment-reviews .investment-videos .card .card-content {
      display: none; }
    .section-investment-reviews .investment-videos .card .play-button {
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all .3s; }
      .section-investment-reviews .investment-videos .card .play-button i {
        position: absolute;
        left: 0;
        bottom: 0;
        display: none; }

.lean-overlay {
  opacity: 0.8 !important; }

#modal-exit {
  padding: 0;
  max-height: 92%;
  width: 960px;
  max-width: 90%; }
  #modal-exit .modal-content {
    padding: 0;
    height: calc(100% - 145px); }
  #modal-exit .modal-footer {
    padding: 0;
    height: 146px;
    border: 0; }
  #modal-exit .modal-exit-header {
    font-size: 29px;
    font-weight: bold;
    padding: 10px 0;
    line-height: 1.2; }
  #modal-exit .exit-slider {
    margin: 0; }
  #modal-exit #exit-slider-2, #modal-exit #exit-slider-3, #modal-exit #exit-slider-4 {
    padding: 30px 40px; }
  #modal-exit .classic-form {
    margin: 0;
    padding: 0;
    border: 0; }
  #modal-exit .exit-progress {
    display: none;
    padding: 30px 40px 0; }
  #modal-exit .lock-message {
    display: none; }
  #modal-exit .modal-exit-content {
    display: flex; }
    #modal-exit .modal-exit-content .body-left {
      width: 45%;
      position: relative;
      overflow: hidden; }
      #modal-exit .modal-exit-content .body-left:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: -1px;
        width: 1px;
        box-shadow: 10px 0px 30px 30px #fefefe; }
      #modal-exit .modal-exit-content .body-left .chat-bg {
        height: 100%;
        width: auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: none; }
    #modal-exit .modal-exit-content .body-right {
      width: 55%;
      padding: 20px 40px 20px 30px;
      position: relative; }
      #modal-exit .modal-exit-content .body-right .free-checks {
        font-size: 18px;
        font-weight: 500; }
        #modal-exit .modal-exit-content .body-right .free-checks li {
          margin-bottom: 15px; }
          #modal-exit .modal-exit-content .body-right .free-checks li .material-icons {
            font-size: 28px;
            vertical-align: top;
            font-weight: bold; }
      #modal-exit .modal-exit-content .body-right .chat-phone-yes {
        position: absolute;
        left: -175px;
        bottom: 40px;
        display: none; }
      #modal-exit .modal-exit-content .body-right input {
        margin: 0 !important; }
  #modal-exit .modal-exit-footer {
    padding: 20px 40px; }
  #modal-exit .exit-footer-buttons {
    display: flex; }
    #modal-exit .exit-footer-buttons .exit-footer-section {
      width: 100%;
      padding: 0 20px 0 0; }
      #modal-exit .exit-footer-buttons .exit-footer-section + .exit-footer-section {
        padding: 0 0 0 20px; }
    #modal-exit .exit-footer-buttons .footer-button {
      font-size: 44px;
      height: 105px;
      line-height: 1.2;
      text-transform: none;
      margin: 0; }
      #modal-exit .exit-footer-buttons .footer-button .button-sub {
        font-size: 18px;
        display: block;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 400;
        line-height: 1.1; }
    #modal-exit .exit-footer-buttons .footer-button-yes .other-steps {
      display: none; }

@media only screen and (max-width: 992px) {
  #modal-exit .modal-exit-content .body-left {
    display: none; }
  #modal-exit .modal-exit-content .body-right {
    width: 100%; }
    #modal-exit .modal-exit-content .body-right .chat-phone-yes {
      display: none !important; }
  #modal-exit .modal-exit-footer .footer-button {
    font-size: 34px;
    height: 105px; }
    #modal-exit .modal-exit-footer .footer-button .button-sub {
      font-size: 16px; } }
#exit-modal-close {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1010;
  cursor: pointer; }
  #exit-modal-close .material-icons {
    font-weight: bold;
    font-size: 40px;
    color: #fefefe;
    vertical-align: top; }

.lean-overlay {
  opacity: 0.8 !important; }

#modal-free-offer {
  padding: 0;
  max-height: 92%;
  max-width: 90%;
  width: 660px; }
  #modal-free-offer .modal-content {
    padding: 0;
    height: calc(100% - 145px); }
  #modal-free-offer .modal-footer {
    padding: 0;
    height: 146px;
    border: 0; }
  #modal-free-offer .modal-exit-header {
    font-size: 29px;
    font-weight: bold;
    padding: 10px 0;
    line-height: 1.2; }
  #modal-free-offer .free-offer-slider {
    margin: 0; }
  #modal-free-offer #free-offer-slider-1, #modal-free-offer #free-offer-slider-2, #modal-free-offer #free-offer-slider-3 {
    padding: 30px 40px; }
  #modal-free-offer .classic-form {
    margin: 0;
    padding: 0;
    border: 0; }
  #modal-free-offer .sub-heading {
    font-size: 16px;
    font-weight: 500;
    padding: 0 30px;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.3; }
  #modal-free-offer .free-offer-progress {
    padding: 30px 40px 0;
    display: none; }
  #modal-free-offer .modal-free-offer-footer {
    padding: 20px 40px; }
  #modal-free-offer .modal-free-offer-footer .footer-button {
    font-size: 44px;
    height: 95px;
    line-height: 1.2;
    text-transform: none;
    margin: 0; }
    #modal-free-offer .modal-free-offer-footer .footer-button .button-sub {
      font-size: 18px;
      display: block;
      color: rgba(255, 255, 255, 0.8);
      font-weight: 400;
      line-height: 1.1; }
  #modal-free-offer .modal-free-offer-footer .footer-button-yes .other-steps {
    display: none; }

@media only screen and (max-width: 992px) {
  #modal-free-offer .modal-free-offer-footer .footer-button {
    font-size: 34px;
    height: 105px;
    padding: 0 10px; }
    #modal-free-offer .modal-free-offer-footer .footer-button .button-sub {
      font-size: 16px; }
  #modal-free-offer .sub-heading {
    padding: 0;
    font-size: 14px; } }
#free-offer-modal-close {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1010;
  cursor: pointer; }
  #free-offer-modal-close .material-icons {
    font-weight: bold;
    font-size: 40px;
    color: #fefefe;
    vertical-align: top; }

.free-tactics-banner {
  font-size: 3.2rem; }

.section-free-guide {
  /*
  classic form
   */ }
  .section-free-guide .free-checks-circle {
    font-size: 22px; }
    .section-free-guide .free-checks-circle li {
      margin-bottom: 10px;
      position: relative;
      padding-left: 35px;
      line-height: 1.4; }
      .section-free-guide .free-checks-circle li strong {
        font-weight: bold; }
    .section-free-guide .free-checks-circle .material-icons {
      vertical-align: top;
      position: absolute;
      top: 2px;
      left: 0;
      font-size: 28px;
      font-weight: 500; }
  .section-free-guide .classic-form {
    padding: 0;
    border-radius: 0;
    margin: 30px auto 0;
    max-width: 600px;
    border: 0; }
    .section-free-guide .classic-form input {
      margin-bottom: 12px !important;
      font-size: 30px !important;
      height: 70px !important; }
    .section-free-guide .classic-form .material-icons {
      font-size: inherit;
      vertical-align: middle; }
  .section-free-guide .offer-button {
    text-transform: none;
    font-size: 40px;
    background-color: #ff7f27;
    padding: 0 10px;
    height: 75px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.3), 0 15px 20px 0 rgba(0, 0, 0, 0.25); }
    .section-free-guide .offer-button:hover {
      background-color: #d96f28;
      box-shadow: 0 16px 22px 0 rgba(0, 0, 0, 0.35), 0 22px 28px 0 rgba(0, 0, 0, 0.3);
      transform: translateY(-2px); }

h4.override {
  font-size: 1.71rem;
  line-height: 110%;
  margin: 0.855rem 0 0.684rem 0;
  font-weight: 900; }

@media only screen and (max-width: 610px) {
  .section-free-guide .offer-button {
    font-size: 30px; }
  .section-free-guide .free-checks-circle {
    font-size: 18px; } }
@media only screen and (max-width: 500px) {
  .section-free-guide .offer-button {
    font-size: 24px; } }
/* survey-new.php */
.survey-banner {
  background: url("../images/survey/bg.jpg") no-repeat top center transparent;
  background-size: cover; }
  .survey-banner .container {
    overflow: hidden; }
  .survey-banner .row {
    margin-bottom: 0; }
  .survey-banner .shaded-form {
    box-shadow: -50px 0 125px 87px #fff; }
  .survey-banner .classic-form {
    padding: 0 0 20px 0; }
  .survey-banner h3 {
    color: #333;
    font-size: 36px;
    margin-top: 30px;
    font-weight: 900; }

.equal-height-row {
  display: flex;
  flex-wrap: wrap; }
  .equal-height-row .col {
    box-shadow: 0 0 0 5px #fff inset;
    margin-bottom: 15px; }
    .equal-height-row .col h4 {
      padding: 20px;
      background: #d5d5d5;
      margin: 0; }

#compare_springbook .tabs {
  margin-bottom: 0; }
  #compare_springbook .tabs .tab a {
    padding: 0 10px; }
  #compare_springbook .tabs .active {
    background: #ffef00;
    font-weight: 500; }
  #compare_springbook .tabs .indicator {
    display: none; }
#compare_springbook .tab-compare-content {
  padding: 30px 8%;
  border: 4px solid #ffef00;
  background: #f9f9f9; }
  #compare_springbook .tab-compare-content .card {
    border: none; }
  #compare_springbook .tab-compare-content .tag {
    top: auto;
    bottom: 0;
    padding: 0;
    left: 50%;
    margin-left: -85px; }
    @media only screen and (max-width: 768px) {
      #compare_springbook .tab-compare-content .tag {
        left: 0;
        margin-left: 0; } }
    #compare_springbook .tab-compare-content .tag b {
      width: 155px; }
  #compare_springbook .tab-compare-content .compare-heading .card {
    background: transparent; }

.section-sell-land-offers .sell-offer-items {
  overflow: visible; }
  .section-sell-land-offers .sell-offer-items .banner-image {
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .section-sell-land-offers .sell-offer-items .sell-offer-head {
    background: #ffef00;
    margin-top: -19px;
    position: relative;
    padding: 5px 15px;
    border-radius: 0 0 16px 16px;
    width: 95%;
    min-height: 115px; }
    .section-sell-land-offers .sell-offer-items .sell-offer-head:before, .section-sell-land-offers .sell-offer-items .sell-offer-head:after {
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid; }
    .section-sell-land-offers .sell-offer-items .sell-offer-head:before {
      left: -12px;
      border-width: 0 0 19px 12px;
      border-color: transparent transparent #bbbbbb transparent; }
    .section-sell-land-offers .sell-offer-items .sell-offer-head:after {
      right: -12px;
      border-width: 19px 0 0 12px;
      border-color: transparent transparent transparent #bbbbbb; }
  .section-sell-land-offers .sell-offer-items .sell-offer-details {
    margin-top: 20px; }

@media only screen and (max-width: 600px) {
  .section-sell-land-offers .sell-offer-items .col {
    margin-bottom: 50px;
    background: #f7f7f7; }
  .section-sell-land-offers .sell-offer-items .col:last-child {
    margin-bottom: 0; } }
@media only screen and (min-width: 601px) {
  .section-sell-land-offers .sell-offer-items .col {
    margin-bottom: 50px;
    background: #f7f7f7; }
  .section-sell-land-offers .sell-offer-items .col:nth-child(n+3) {
    margin-bottom: 0; }
  .section-sell-land-offers .sell-offer-items .col:nth-child(even) {
    position: relative; }
    .section-sell-land-offers .sell-offer-items .col:nth-child(even):before {
      content: "";
      position: absolute;
      top: 160px;
      left: 0;
      bottom: 20px;
      width: 2px;
      background: #e2d97a; } }
@media only screen and (min-width: 993px) {
  .section-sell-land-offers .sell-offer-items {
    background: #f7f7f7; }
    .section-sell-land-offers .sell-offer-items .col {
      margin-bottom: 0;
      background: #f7f7f7; }
    .section-sell-land-offers .sell-offer-items .col:nth-child(n+2) {
      position: relative; }
      .section-sell-land-offers .sell-offer-items .col:nth-child(n+2):before {
        content: "";
        position: absolute;
        top: 160px;
        left: 0;
        bottom: 20px;
        width: 2px;
        background: #e2d97a; }
    .section-sell-land-offers .sell-offer-items .sell-offer-head {
      min-height: 160px; } }
/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
.key_more-money, .key_5star, .key_no-sale, .key_sp-hub, .key_national-adv,
.key_planb, .key_effective, .key_unique, .key_24-7, .key_no-charges,
.key_strict, .key_progessor, .key_part-exchange, .key_buyers-int, .key_tailior,
.key_dedicated, .key_quicker, .key_manchester, .key_best-possible {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../images/key_sprite.png"); }

.key_more-money {
  background-position: 0 0%;
  background-size: 100%; }

.key_5star {
  background-position: 0 3.763901%;
  background-size: 123.684211%; }

.key_no-sale {
  background-position: 0 9.643161%;
  background-size: 145.962733%; }

.key_sp-hub {
  background-position: 0 14.982877%;
  background-size: 145.962733%; }

.key_national-adv {
  background-position: 0 20.805085%;
  background-size: 149.681529%; }

.key_planb {
  background-position: 0 25.994015%;
  background-size: 160.958904%; }

.key_effective {
  background-position: 0 31.853117%;
  background-size: 162.068966%; }

.key_unique {
  background-position: 0 37.569296%;
  background-size: 165.492958%; }

.key_24-7 {
  background-position: 0 43.014862%;
  background-size: 188%; }

.key_no-charges {
  background-position: 0 48.566538%;
  background-size: 195.833333%; }

.key_strict {
  background-position: 0 54.557125%;
  background-size: 195.833333%; }

.key_progessor {
  background-position: 0 60.521814%;
  background-size: 197.478992%; }

.key_part-exchange {
  background-position: 0 66.410256%;
  background-size: 202.586207%; }

.key_buyers-int {
  background-position: 0 72.295853%;
  background-size: 207.964602%; }

.key_tailior {
  background-position: 0 78.02901%;
  background-size: 207.964602%; }

.key_dedicated {
  background-position: 0 83.703072%;
  background-size: 213.636364%; }

.key_quicker {
  background-position: 0 88.58351%;
  background-size: 219.626168%; }

.key_manchester {
  background-position: 0 93.874947%;
  background-size: 223.809524%; }

.key_best-possible {
  background-position: 0 100%;
  background-size: 250%; }

/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
.publication_london, .publication_daily-express, .publication_layer-38-copy-4, .publication_layer-114, .publication_layer-122,
.publication_idealhome, .publication_layer-115, .publication_layer-118, .publication_layer-116, .publication_residential,
.publication_estates, .publication_estate {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../images/publications_sprite.png"); }

.publication_london {
  background-position: 0 0%;
  background-size: 100%; }

.publication_daily-express {
  background-position: 0 7.555556%;
  background-size: 104.651163%; }

.publication_layer-38-copy-4 {
  background-position: 0 16.25183%;
  background-size: 138.996139%; }

.publication_layer-114 {
  background-position: 0 23.79562%;
  background-size: 143.426295%; }

.publication_layer-122 {
  background-position: 0 31.696429%;
  background-size: 155.172414%; }

.publication_idealhome {
  background-position: 0 40.949555%;
  background-size: 169.811321%; }

.publication_layer-115 {
  background-position: 0 49.778434%;
  background-size: 181.818182%; }

.publication_layer-118 {
  background-position: 0 58.431953%;
  background-size: 189.473684%; }

.publication_layer-116 {
  background-position: 0 67.159763%;
  background-size: 210.526316%; }

.publication_residential {
  background-position: 0 77.259036%;
  background-size: 281.25%; }

.publication_estates {
  background-position: 0 88.753799%;
  background-size: 292.682927%; }

.publication_estate {
  background-position: 0 100%;
  background-size: 423.529412%; }

/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
.hero_speed, .hero_value, .hero_secure, .hero_secure-circle, .hero_speed-circle,
.hero_value-circle {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../images/hero_sprite.png"); }

.hero_speed {
  background-position: 0 0%;
  background-size: 100%; }

.hero_value {
  background-position: 0 27.15655%;
  background-size: 119.047619%; }

.hero_secure {
  background-position: 0 50.318471%;
  background-size: 159.574468%; }

.hero_secure-circle {
  background-position: 0 68.862275%;
  background-size: 178.571429%; }

.hero_speed-circle {
  background-position: 0 84.431138%;
  background-size: 178.571429%; }

.hero_value-circle {
  background-position: 0 100%;
  background-size: 178.571429%; }

/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
.logo_regulator-1, .logo_regulator-2, .logo_poweredby, .logo_regulator-3, .logo_regulator-4,
.logo_logo-trust, .logo_logo-google, .logo_logo-allagen, .logo_footer-logo1, .logo_regulator-5,
.logo_footer-logo3, .logo_springbooklogo-icon, .logo_highstreet-logo, .logo_footer-logo5, .logo_footer-logo4,
.logo_footer-logo2 {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../images/logo_sprite.png"); }

.logo_regulator-1 {
  background-position: 0 0%;
  background-size: 100%; }

.logo_regulator-2 {
  background-position: 0 6.316916%;
  background-size: 110.457516%; }

.logo_poweredby {
  background-position: 0 14.177489%;
  background-size: 126.119403%; }

.logo_regulator-3 {
  background-position: 0 22.829582%;
  background-size: 126.119403%; }

.logo_regulator-4 {
  background-position: 0 30.785791%;
  background-size: 142.016807%; }

.logo_logo-trust {
  background-position: 0 37.5%;
  background-size: 145.689655%; }

.logo_logo-google {
  background-position: 0 41.770833%;
  background-size: 156.481481%; }

.logo_logo-allagen {
  background-position: 0 46.417445%;
  background-size: 157.943925%; }

.logo_footer-logo1 {
  background-position: 0 50.988554%;
  background-size: 170.707071%; }

.logo_regulator-5 {
  background-position: 0 58.533917%;
  background-size: 185.714286%; }

.logo_footer-logo3 {
  background-position: 0 66.987179%;
  background-size: 213.924051%; }

.logo_springbooklogo-icon {
  background-position: 0 73.834746%;
  background-size: 244.927536%; }

.logo_highstreet-logo {
  background-position: 0 80.573248%;
  background-size: 307.272727%; }

.logo_footer-logo5 {
  background-position: 0 86.17801%;
  background-size: 312.962963%; }

.logo_footer-logo4 {
  background-position: 0 95.103373%;
  background-size: 318.867925%; }

.logo_footer-logo2 {
  background-position: 0 100%;
  background-size: 393.023256%; }

#houseworth .zindex {
  z-index: 10 !important; }

.no-border {
  border: 0 !important; }

/*# sourceMappingURL=may2020.css.map */
