.margin-top-0 {
  margin-top: 0px !important; }

.margin-right-0 {
  margin-right: 0px !important; }

.margin-bottom-0 {
  margin-bottom: 0px !important; }

.margin-left-0 {
  margin-left: 0px !important; }

.padding-top-0 {
  padding-top: 0px !important; }

.padding-right-0 {
  padding-right: 0px !important; }

.padding-bottom-0 {
  padding-bottom: 0px !important; }

.padding-left-0 {
  padding-left: 0px !important; }

.margin-0 {
  margin: 0px !important; }

.padding-0 {
  padding: 0px !important; }

.margin-top-5 {
  margin-top: 5px !important; }

.margin-right-5 {
  margin-right: 5px !important; }

.margin-bottom-5 {
  margin-bottom: 5px !important; }

.margin-left-5 {
  margin-left: 5px !important; }

.padding-top-5 {
  padding-top: 5px !important; }

.padding-right-5 {
  padding-right: 5px !important; }

.padding-bottom-5 {
  padding-bottom: 5px !important; }

.padding-left-5 {
  padding-left: 5px !important; }

.margin-5 {
  margin: 5px !important; }

.padding-5 {
  padding: 5px !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-right-10 {
  margin-right: 10px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.margin-left-10 {
  margin-left: 10px !important; }

.padding-top-10 {
  padding-top: 10px !important; }

.padding-right-10 {
  padding-right: 10px !important; }

.padding-bottom-10 {
  padding-bottom: 10px !important; }

.padding-left-10 {
  padding-left: 10px !important; }

.margin-10 {
  margin: 10px !important; }

.padding-10 {
  padding: 10px !important; }

.margin-top-15 {
  margin-top: 15px !important; }

.margin-right-15 {
  margin-right: 15px !important; }

.margin-bottom-15 {
  margin-bottom: 15px !important; }

.margin-left-15 {
  margin-left: 15px !important; }

.padding-top-15 {
  padding-top: 15px !important; }

.padding-right-15 {
  padding-right: 15px !important; }

.padding-bottom-15 {
  padding-bottom: 15px !important; }

.padding-left-15 {
  padding-left: 15px !important; }

.margin-15 {
  margin: 15px !important; }

.padding-15 {
  padding: 15px !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-right-20 {
  margin-right: 20px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-left-20 {
  margin-left: 20px !important; }

.padding-top-20 {
  padding-top: 20px !important; }

.padding-right-20 {
  padding-right: 20px !important; }

.padding-bottom-20 {
  padding-bottom: 20px !important; }

.padding-left-20 {
  padding-left: 20px !important; }

.margin-20 {
  margin: 20px !important; }

.padding-20 {
  padding: 20px !important; }

.margin-top-25 {
  margin-top: 25px !important; }

.margin-right-25 {
  margin-right: 25px !important; }

.margin-bottom-25 {
  margin-bottom: 25px !important; }

.margin-left-25 {
  margin-left: 25px !important; }

.padding-top-25 {
  padding-top: 25px !important; }

.padding-right-25 {
  padding-right: 25px !important; }

.padding-bottom-25 {
  padding-bottom: 25px !important; }

.padding-left-25 {
  padding-left: 25px !important; }

.margin-25 {
  margin: 25px !important; }

.padding-25 {
  padding: 25px !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.margin-right-30 {
  margin-right: 30px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.margin-left-30 {
  margin-left: 30px !important; }

.padding-top-30 {
  padding-top: 30px !important; }

.padding-right-30 {
  padding-right: 30px !important; }

.padding-bottom-30 {
  padding-bottom: 30px !important; }

.padding-left-30 {
  padding-left: 30px !important; }

.margin-30 {
  margin: 30px !important; }

.padding-30 {
  padding: 30px !important; }

.margin-top-40 {
  margin-top: 40px !important; }

.margin-right-40 {
  margin-right: 40px !important; }

.margin-bottom-40 {
  margin-bottom: 40px !important; }

.margin-left-40 {
  margin-left: 40px !important; }

.padding-top-40 {
  padding-top: 40px !important; }

.padding-right-40 {
  padding-right: 40px !important; }

.padding-bottom-40 {
  padding-bottom: 40px !important; }

.padding-left-40 {
  padding-left: 40px !important; }

.margin-40 {
  margin: 40px !important; }

.padding-40 {
  padding: 40px !important; }

.margin-top-50 {
  margin-top: 50px !important; }

.margin-right-50 {
  margin-right: 50px !important; }

.margin-bottom-50 {
  margin-bottom: 50px !important; }

.margin-left-50 {
  margin-left: 50px !important; }

.padding-top-50 {
  padding-top: 50px !important; }

.padding-right-50 {
  padding-right: 50px !important; }

.padding-bottom-50 {
  padding-bottom: 50px !important; }

.padding-left-50 {
  padding-left: 50px !important; }

.margin-50 {
  margin: 50px !important; }

.padding-50 {
  padding: 50px !important; }

.margin-top-80 {
  margin-top: 80px !important; }

.margin-right-80 {
  margin-right: 80px !important; }

.margin-bottom-80 {
  margin-bottom: 80px !important; }

.margin-left-80 {
  margin-left: 80px !important; }

.padding-top-80 {
  padding-top: 80px !important; }

.padding-right-80 {
  padding-right: 80px !important; }

.padding-bottom-80 {
  padding-bottom: 80px !important; }

.padding-left-80 {
  padding-left: 80px !important; }

.margin-80 {
  margin: 80px !important; }

.padding-80 {
  padding: 80px !important; }

.margin-top-100 {
  margin-top: 100px !important; }

.margin-right-100 {
  margin-right: 100px !important; }

.margin-bottom-100 {
  margin-bottom: 100px !important; }

.margin-left-100 {
  margin-left: 100px !important; }

.padding-top-100 {
  padding-top: 100px !important; }

.padding-right-100 {
  padding-right: 100px !important; }

.padding-bottom-100 {
  padding-bottom: 100px !important; }

.padding-left-100 {
  padding-left: 100px !important; }

.margin-100 {
  margin: 100px !important; }

.padding-100 {
  padding: 100px !important; }

.small {
  font-size: 0.9rem;
  font-weight: 400; }

.smaller {
  font-size: 0.8rem;
  font-weight: 400; }

.smallest {
  font-size: 0.65rem;
  font-weight: 400; }

.white {
  background-color: #FFFFFF !important; }

.white-text {
  color: #FFFFFF !important; }

.green {
  background-color: #4CAF50 !important; }

.green-text {
  color: #4CAF50 !important; }

.red {
  background-color: #F44336 !important; }

.red-text {
  color: #F44336 !important; }

img.responsive-img, video.responsive-video {
  max-width: 100%;
  height: auto; }

.unslider {
  overflow: auto;
  margin: 0;
  padding: 0;
  position: relative; }
  .unslider > div {
    margin-left: 50px;
    margin-right: 50px; }

.unslider-wrap {
  position: relative; }

.unslider-wrap.unslider-carousel > li {
  float: left; }

.unslider-vertical > ul {
  height: 100%; }

.unslider-vertical li {
  float: none;
  width: 100%; }

.unslider-fade {
  position: relative; }

.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8; }

.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10; }

.unslider li, .unslider ol, .unslider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none; }

.unslider-arrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  bottom: 0;
  width: 50px;
  text-align: center;
  overflow: hidden; }
  .unslider-arrow i {
    position: absolute;
    top: 45%;
    left: 0;
    font-size: 40px;
    /*transform: translate(-50%, -50%);*/ }

.unslider-arrow.next {
  left: auto;
  right: 0; }
  .unslider-arrow.next i {
    left: auto;
    right: 0; }

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
  position: relative; }
  .progress .progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #53d75e;
    transition: width .6s ease; }
  .progress .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.lean-overlay {
  opacity: 0.8 !important; }

.classic-form input {
  background: #fff;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  height: 3.5rem;
  font-size: 1.25rem;
  border: 1px solid #ccc;
  width: 100%; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #d1d1d1; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #d1d1d1; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #d1d1d1; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #d1d1d1; }

.help-text {
  display: none; }

.input-error h5 {
  color: red; }
.input-error input {
  border-color: red !important; }
.input-error .help-text {
  display: block;
  color: red; }

#modal-exit {
  line-height: 1.5; }
  #modal-exit .modal-dialog {
    padding: 0;
    max-height: 92%;
    width: 960px;
    max-width: 100%; }
  #modal-exit .modal-body {
    padding: 0; }
  #modal-exit .modal-content {
    height: calc(100% - 145px); }
  #modal-exit .modal-footer {
    padding: 0;
    height: 146px;
    border: 0; }
  #modal-exit .modal-exit-header {
    font-size: 29px;
    font-weight: bold;
    padding: 10px 0;
    line-height: 1.2;
    background: #ffef00;
    text-align: center; }
  #modal-exit .exit-slider {
    margin: 0; }
  #modal-exit h3 {
    font-size: 2.19rem;
    line-height: 110%;
    margin: 0 0 0.876rem 0; }
  #modal-exit .no-hassle {
    margin: 22.5px 0 10px 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5; }
  #modal-exit #exit-slider-2, #modal-exit #exit-slider-3, #modal-exit #exit-slider-4 {
    padding: 30px 40px; }
  #modal-exit .classic-form {
    margin: 0;
    padding: 0;
    border: 0; }
  #modal-exit .exit-progress {
    display: none;
    padding: 30px 40px 0; }
  #modal-exit .lock-message {
    display: none; }
  #modal-exit .modal-exit-content {
    display: flex; }
    #modal-exit .modal-exit-content .body-left {
      width: 45%;
      position: relative;
      overflow: hidden; }
      #modal-exit .modal-exit-content .body-left:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: -1px;
        width: 1px;
        box-shadow: 10px 0px 30px 30px #fefefe; }
      #modal-exit .modal-exit-content .body-left .chat-bg {
        height: 100%;
        width: auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: none; }
    #modal-exit .modal-exit-content .body-right {
      width: 55%;
      padding: 20px 40px 20px 30px;
      position: relative; }
      #modal-exit .modal-exit-content .body-right .free-checks {
        font-size: 18px;
        font-weight: 500; }
        #modal-exit .modal-exit-content .body-right .free-checks li {
          margin-bottom: 15px; }
          #modal-exit .modal-exit-content .body-right .free-checks li .fa {
            font-size: 20px;
            vertical-align: top;
            font-weight: bold;
            margin-top: 3px; }
      #modal-exit .modal-exit-content .body-right .chat-phone-yes {
        position: absolute;
        left: -175px;
        bottom: 40px;
        display: none; }
      #modal-exit .modal-exit-content .body-right input {
        margin: 0 !important; }
  #modal-exit .modal-exit-footer {
    padding: 20px 40px; }
  #modal-exit .exit-footer-buttons {
    display: flex; }
    #modal-exit .exit-footer-buttons .exit-footer-section {
      width: 100%;
      padding: 0 20px 0 0; }
      #modal-exit .exit-footer-buttons .exit-footer-section + .exit-footer-section {
        padding: 0 0 0 20px; }
    #modal-exit .exit-footer-buttons .footer-button {
      font-size: 44px;
      font-weight: 700;
      height: 105px;
      line-height: 1.2;
      text-transform: none;
      margin: 0;
      color: #fff;
      padding: 0 2rem; }
      #modal-exit .exit-footer-buttons .footer-button .button-sub {
        font-size: 18px;
        display: block;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 400;
        line-height: 1.1; }
    #modal-exit .exit-footer-buttons .footer-button-yes .other-steps {
      display: none; }

@media only screen and (max-width: 992px) {
  #modal-exit .modal-exit-content .body-left {
    display: none; }
  #modal-exit .modal-exit-content .body-right {
    width: 100%; }
    #modal-exit .modal-exit-content .body-right .chat-phone-yes {
      display: none !important; }
  #modal-exit .modal-exit-footer .footer-button {
    font-size: 34px;
    height: 105px; }
    #modal-exit .modal-exit-footer .footer-button .button-sub {
      font-size: 16px; } }
#exit-modal-close {
  display: none;
  position: fixed;
  top: 4px;
  right: 8px;
  z-index: 1051;
  cursor: pointer;
  color: #fff;
  padding: 2px 5px; }
  #exit-modal-close .fa {
    font-size: 40px;
    color: #ddd;
    vertical-align: top; }

.lean-overlay {
  opacity: 0.8 !important; }

#modal-free-offer {
  line-height: 1.5; }
  #modal-free-offer .modal-dialog {
    padding: 0;
    max-height: 92%;
    max-width: 100%;
    width: 660px; }
  #modal-free-offer .modal-body {
    padding: 0; }
  #modal-free-offer .modal-content {
    height: calc(100% - 145px); }
  #modal-free-offer .modal-footer {
    padding: 0;
    height: 146px;
    border: 0; }
  #modal-free-offer .modal-exit-header {
    font-size: 29px;
    font-weight: bold;
    padding: 10px 0;
    line-height: 1.2; }
  #modal-free-offer .free-offer-slider {
    margin: 0; }
  #modal-free-offer h3 {
    font-size: 2.1rem;
    line-height: 110%;
    margin: 0 0 0.876rem 0; }
  #modal-free-offer #free-offer-slider-1, #modal-free-offer #free-offer-slider-2, #modal-free-offer #free-offer-slider-3 {
    padding: 30px 40px; }
  #modal-free-offer .classic-form {
    margin: 0;
    padding: 0;
    border: 0; }
  #modal-free-offer .sub-heading {
    font-size: 16px;
    font-weight: 500;
    padding: 0 30px;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.3; }
  #modal-free-offer .free-offer-progress {
    padding: 30px 40px 0;
    display: none; }
  #modal-free-offer .modal-free-offer-footer {
    padding: 20px 40px; }
  #modal-free-offer .modal-free-offer-footer .footer-button {
    font-size: 44px;
    height: 95px;
    line-height: 1.2;
    text-transform: none;
    margin: 0;
    font-weight: 700; }
    #modal-free-offer .modal-free-offer-footer .footer-button .button-sub {
      font-size: 18px;
      display: block;
      color: rgba(255, 255, 255, 0.8);
      font-weight: 400;
      line-height: 1.1; }
  #modal-free-offer .modal-free-offer-footer .footer-button-yes .other-steps {
    display: none; }

@media only screen and (max-width: 992px) {
  #modal-free-offer .modal-free-offer-footer .footer-button {
    font-size: 34px;
    height: 105px;
    padding: 0 10px; }
    #modal-free-offer .modal-free-offer-footer .footer-button .button-sub {
      font-size: 16px; }
  #modal-free-offer .sub-heading {
    padding: 0;
    font-size: 14px; } }
#free-offer-modal-close {
  display: none;
  position: fixed;
  top: 4px;
  right: 8px;
  z-index: 1051;
  cursor: pointer;
  color: #fff;
  padding: 2px 5px; }
  #free-offer-modal-close .fa {
    font-size: 40px;
    color: #ddd;
    vertical-align: top; }

section {
  padding: 40px 0; }

.services-container {
  max-width: 960px; }

.free-tactics-banner {
  font-size: 3.2rem; }

.section-free-guide {
  /*
  classic form
   */ }
  .section-free-guide .free-checks-circle {
    font-size: 22px; }
    .section-free-guide .free-checks-circle li {
      margin-bottom: 10px;
      position: relative;
      padding-left: 35px;
      line-height: 1.4; }
      .section-free-guide .free-checks-circle li strong {
        font-weight: bold; }
    .section-free-guide .free-checks-circle .fa {
      vertical-align: top;
      position: absolute;
      top: 4px;
      left: 0;
      font-size: 24px;
      font-weight: 500; }
  .section-free-guide .classic-form {
    padding: 0;
    border-radius: 0;
    margin: 30px auto 0;
    max-width: 600px;
    border: 0; }
    .section-free-guide .classic-form input {
      margin-bottom: 12px !important;
      font-size: 30px !important;
      height: 70px !important; }
    .section-free-guide .classic-form .material-icons {
      font-size: inherit;
      vertical-align: middle; }
  .section-free-guide .offer-button {
    text-transform: none;
    font-size: 40px;
    background-color: #ff7f27;
    padding: 0 10px;
    height: 75px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.3), 0 15px 20px 0 rgba(0, 0, 0, 0.25) !important;
    font-weight: 700; }
    .section-free-guide .offer-button:hover {
      background-color: #d96f28;
      box-shadow: 0 16px 22px 0 rgba(0, 0, 0, 0.35), 0 22px 28px 0 rgba(0, 0, 0, 0.3) !important;
      transform: translateY(-2px); }

h4.override {
  font-size: 1.71rem;
  line-height: 110%;
  margin: 0.855rem 0 0.684rem 0;
  font-weight: 700; }

@media only screen and (max-width: 610px) {
  .section-free-guide .offer-button {
    font-size: 30px; }
  .section-free-guide .free-checks-circle {
    font-size: 18px; } }
@media only screen and (max-width: 500px) {
  .section-free-guide .offer-button {
    font-size: 24px; } }
/*
@import "regulated";
@import "banner-features";
@import "ratings";
*/
.home-banner-1 {
  position: relative;
  overflow: hidden; }
  .home-banner-1 .hero-1-bg {
    width: auto;
    height: auto;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    max-height: none; }
  .home-banner-1 .modal-like {
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
    width: 680px;
    position: relative; }
    .home-banner-1 .modal-like .modal-like-header {
      background: #01176e;
      font-size: 36px;
      font-weight: 500;
      text-align: center;
      color: #fff;
      line-height: 1.3;
      padding: 12px 20px; }
    .home-banner-1 .modal-like .modal-like-sub-header {
      font-size: 32px;
      line-height: 1.3;
      padding: 20px 7.5% 0;
      text-align: center;
      font-weight: 500; }
    .home-banner-1 .modal-like .title {
      border-radius: 5px;
      padding: 0;
      font-size: 24px;
      text-align: left;
      font-weight: 400; }
    .home-banner-1 .modal-like .classic-form {
      padding: 30px 0;
      margin: 0 auto;
      border: 0; }
      .home-banner-1 .modal-like .classic-form [type="radio"]:not(:checked), .home-banner-1 .modal-like .classic-form [type="radio"]:checked {
        position: absolute;
        left: -9999px;
        opacity: 0; }
      .home-banner-1 .modal-like .classic-form input {
        margin-bottom: 5px;
        height: 3.2rem; }
      .home-banner-1 .modal-like .classic-form li {
        padding-left: 1.5%;
        padding-right: 1.5%;
        list-style: none; }
    .home-banner-1 .modal-like .hero-slider {
      margin-top: 20px;
      min-height: 260px; }
    .home-banner-1 .modal-like .hero-bottom {
      padding-left: 7.5%;
      padding-right: 7.5%; }
    .home-banner-1 .modal-like .hero-slider-prev {
      display: none; }
      .home-banner-1 .modal-like .hero-slider-prev .prev {
        text-decoration: none;
        color: #01176e; }
        .home-banner-1 .modal-like .hero-slider-prev .prev:visited, .home-banner-1 .modal-like .hero-slider-prev .prev:link, .home-banner-1 .modal-like .hero-slider-prev .prev:hover {
          color: #01176e; }
    .home-banner-1 .modal-like .offer-button {
      font-size: 52px;
      height: 100px;
      text-transform: none;
      background: #c91c1c;
      line-height: 1.2;
      padding: 0 4vw;
      border-radius: 0;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.4), 0 17px 50px 0 rgba(0, 0, 0, 0.34) !important;
      transition: all .1s linear; }
      .home-banner-1 .modal-like .offer-button:hover {
        background: #ef2d2d;
        box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.45), 0 25px 55px 0 rgba(0, 0, 0, 0.38) !important;
        transform: translateY(-2px); }
      .home-banner-1 .modal-like .offer-button .offer-button-sub {
        display: block;
        color: #ffef00;
        font-size: 14px; }
      .home-banner-1 .modal-like .offer-button .first-step {
        display: block; }
      .home-banner-1 .modal-like .offer-button .other-steps {
        display: none; }
    .home-banner-1 .modal-like .unslider > div {
      margin-left: 0;
      margin-right: 0; }
  .home-banner-1 .hero-progress {
    display: none;
    padding-left: 7.5%;
    padding-right: 7.5%; }
  .home-banner-1 .month-range {
    width: 88%;
    margin: 90px auto 90px; }
    .home-banner-1 .month-range .noUi-target {
      height: 11px;
      background: #c9eded;
      border-radius: 4px;
      border: 0; }
    .home-banner-1 .month-range .noUi-connect {
      background: #408080; }
    .home-banner-1 .month-range .noUi-handle {
      width: 34px;
      height: 34px;
      right: -17px;
      top: -12px;
      border-radius: 50%;
      border: 0;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      transition: all 0.3s linear; }
      .home-banner-1 .month-range .noUi-handle:hover {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7); }
      .home-banner-1 .month-range .noUi-handle:focus {
        outline: none; }
      .home-banner-1 .month-range .noUi-handle:before, .home-banner-1 .month-range .noUi-handle:after {
        display: none; }
      .home-banner-1 .month-range .noUi-handle .noUi-touch-area {
        border: 5px solid #FFF;
        border-radius: 50%;
        background: #313131; }
    .home-banner-1 .month-range .noUi-marker {
      /* display: none; */
      height: 10px;
      top: 2px;
      background: #408080; }
    .home-banner-1 .month-range .noUi-marker-sub {
      height: 5px;
      top: 2px;
      background: #408080; }
    .home-banner-1 .month-range .noUi-value-sub {
      display: none; }
    .home-banner-1 .month-range .noUi-value {
      top: 5px;
      font-size: .7rem; }
    .home-banner-1 .month-range .noUi-tooltip {
      background: #313131;
      color: #fff;
      border-radius: 8px;
      border: none;
      padding: 5px 12px;
      bottom: 150%; }
      .home-banner-1 .month-range .noUi-tooltip:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(49, 49, 49, 0);
        border-top-color: #313131;
        border-width: 10px;
        margin-left: -10px;
        transform: translateY(-1px); }
  .home-banner-1 .custom-radio {
    display: block;
    border: 1px solid #ccc;
    background: #f5f5f5;
    position: relative;
    overflow: hidden;
    padding: 7px 10px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 10px;
    cursor: pointer;
    line-height: 32px; }
    .home-banner-1 .custom-radio .radio {
      vertical-align: top;
      margin-top: 2px;
      font-size: 28px;
      color: #ccc; }
    .home-banner-1 .custom-radio .radio-checked {
      vertical-align: top;
      margin-top: 4px;
      font-size: 28px;
      color: #00903d;
      display: none; }
    .home-banner-1 .custom-radio .done {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      font-size: 28px;
      font-weight: bold;
      display: none; }
    .home-banner-1 .custom-radio.checked {
      border: 1px solid #00903d;
      background: #f3fff8; }
      .home-banner-1 .custom-radio.checked .done {
        color: #00903d;
        display: inline-block; }
      .home-banner-1 .custom-radio.checked .radio {
        display: none; }
      .home-banner-1 .custom-radio.checked .radio-checked {
        display: inline-block; }

@media only screen and (max-width: 600px) {
  .home-banner-1 .modal-like .modal-like-header {
    font-size: 24px; }
  .home-banner-1 .modal-like .modal-like-sub-header {
    font-size: 22px; }
  .home-banner-1 .modal-like .title {
    font-size: 20px; }
  .home-banner-1 .modal-like .offer-button {
    font-size: 32px;
    height: 80px; }
    .home-banner-1 .modal-like .offer-button .offer-button-sub {
      font-size: 12px; }
  .home-banner-1 .modal-like .custom-radio {
    font-size: 20px; }
  .home-banner-1 .modal-like .hero-slider {
    margin-top: 10px; } }
@media only screen and (min-width: 601px) {
  .home-banner-1 .banner-h1 {
    font-size: 1.8rem; }
  .home-banner-1 .sub-h1 {
    font-size: 1.5rem; }
  .home-banner-1 .month-range .noUi-value {
    top: 20px;
    font-size: 1rem;
    transform: translate(-50%, 0); } }
@media only screen and (min-width: 993px) {
  .home-banner-1 .banner-h1 {
    font-size: 2.1rem; }
  .home-banner-1 .sub-h1 {
    font-size: 1.5rem; }
  .home-banner-1 .hero-slider-prev {
    float: left; } }
@media only screen and (min-width: 1201px) {
  .home-banner-1 .banner-h1 {
    font-size: 2.3rem; }
  .home-banner-1 .sub-h1 {
    font-size: 1.5rem; } }
.modal-backdrop.show {
  opacity: .8; }

.sp-secondary.lighten-5 {
  background-color: #f0eff1 !important; }

.sp-secondary {
  /*background-color: #494949 !important;*/
  background-color: #54595f !important; }

.fa-check:before {
  content: "\f00c"; }

.fa-lock:before {
  content: "\f023"; }

.fa-remove:before, .fa-close:before, .fa-times:before {
  content: "\f00d"; }

.fa-check-circle-o:before {
  content: "\f05d"; }

/*
.fa-star:before {
  content: "\f005";
}
.fa-star-half-alt:before {
  content: "\f5c0";
}
*/
.fa-circle:before {
  content: "\f111"; }

.fa-dot-circle:before {
  content: "\f192"; }

/*# sourceMappingURL=may2020-wbn.css.map */
