/*------------- CSS FOR NEG BOX-----------------*/
section.Badge_wrap {
  position: relative;
}
.dedicated_badge {
  width: 200px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  color: #000;
}
.dedicated_badge h2 {
  font-size: 14px;
  margin: 4px 0 10px 0;
  text-transform: capitalize;
  font-weight: 500;
}
.dedicated_badge * {
  word-wrap: break-word;
  color: #000;
}
.dedicated_badge_img {
  width: 140px;
  height: 140px;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #808183;
}
.dedicated_badge .badge_name {
  font-weight: 500;
  font-size: 19px;
  margin: 0;
}
.dedicated_badge .phone_num {
  margin: 0;
}
.dedicated_badge .badge_email {
  margin: 0;
  line-height: normal;
  font-size: 13px;
}

/*badge name css*/
span.badge-person-name {
  font-weight: 500;
  font-size: 19px;
  display: block;
  height: 100%;
  line-height: 140px;
  border-radius: 0;
  background-color: #ddd;
}
/*badge name css*/
.spaceTop65 {
  padding-top: 65px;
}
.manager-short-info {
  max-width: 772px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(24,24,24,0.13);
  box-shadow: 0px 3px 10px 0px rgba(24,24,24,0.13);
  padding: 12px 24px;
}
.manager-short-info *, .width720 * {
  margin: 0;
  padding: 0;
}
.manager-avtar {
  width: 74px;
  height: 74px;
  border:1px solid #bcbcbc;
  border-radius: 100%;
  background-color: #d3d3d3;
  margin: 0;
  float: left;
}
.manager-avtar img {
  width: 74px;
  height: 74px;
  border-radius: 100%;
}
.manager-detail {
  margin-left: 86px;
}
.manager-detail h2 {
  margin: 0;
  padding: 11px 0 3px;
  font-size: 18px;
  color: #6a676e;
  text-transform: inherit;
  font-weight: 400;
}
.manager-detail p {
  font-size: 18px;
}
.width720 {
  max-width: 660px;
  margin: 0 auto;
  text-align: center;
  color: #6a676e;
}
.thank-content figure {
  padding: 60px 0 30px;
}
.thank-content h2 {
  font-size: 44px;
  color: #6a676e;
  text-transform: initial;
}
.schedule-text {
  font-size: 22px;
  padding-top: 40px;
  line-height: normal;
}
.schedule-box {
  border: 2px solid #fff888;
  padding: 15px;
  margin-top: 15px;
}
.schedule-box h3 {
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 7px;
}
.schedule-box p {
  font-size: 18px;
}
.consultant-message {
  padding: 45px 0 35px;
  font-size: 22px;
  font-weight: 500;
  color: #00838f;
  line-height: normal;
  position: relative;
}
.consultant-message:after {
  content: "";
  left: 20%;
  right: 20%;
  bottom: 0;
  height: 2px;
  position: absolute;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #d7d7d7;
}
.area-manager-name, .area-manager-message {
  font-size: 18px;
  text-align: left;
  line-height: normal;
}
.area-manager-name {
  padding-top: 50px;
}
.area-manager-message {
  padding-top: 30px;
  padding-bottom: 50px;
}
.section-box {
  color: #6a676e;
}
.section-box * {
  padding: 0;
  margin: 0;
}
.section-box .inner-data {
  background-color: rgb(249, 249, 249);
  box-shadow: 0px 3px 10px 0px rgba(24, 24, 24, 0.13);
  height: auto;
  margin-top: 45px;
  margin-bottom: 35px;
  text-align: center;
  padding: 30px 25px;
  min-height: 214px;
}
.section-box .inner-data > p {
  font-size: 18px;
  text-align: left;
  line-height: normal;
  padding-top: 25px;
}
.section-box h2 {
  font-weight: 22px;
  font-weight: 700;
  color: #000000;
  background-image: url(../images/heading-style.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  text-align: center;
  text-transform: initial;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.section-box p {
  font-size: 18px;
  padding-top: 30px;
  line-height: normal;
}
.section-box p strong, .section-box p a:hover {
  color: #000;
}
.section-box p a {
  color: #0016bb;
  text-decoration: underline;
}

@media only screen and (min-width: 993px) {
  main.full-cover, footer.full-cover {
    padding-left: 0;
  }
  .container {
    margin: 0 auto !important;
  }
}

@media (max-width: 1290px) {
  section.Badge_wrap .container.narrow {
    max-width: 610px;
  }
}

@media (max-width: 1100px) {
  section.Badge_wrap .container.narrow {
    max-width: 500px;
  }
}

@media (max-width: 992px) {
  section.Badge_wrap .container.narrow {
    max-width: 800px;
  }
  .dedicated_badge {
    position: static;
    margin: 20px auto;
  }
}





.modal:nth-of-type(even) {
  z-index: 1042 !important;
}
.modal-backdrop.in:nth-of-type(even) {
  z-index: 1041 !important;
}
